[2017-02-16 16:02] inytar opened #11 "aredis fails to install using pip"
aredis is failing to install in a new environment. Trying to install it results in the following error:
[code]
The reason seems to be that setup.py is loading the __version__ from init, this results in trying to load the whole package, which fails as the package is not installed yet.

Pip version 9.0.1, aredis version 1.0.4

[2017-02-17 14:14] NoneGG commented on #11
Thank you for reporting this problem sincerely!

I only test the setup sheet by using `python setup.py install` and that can run smoothly so i didn't expect there would be problem with `pip install`. This is my negligence.

The bug is now fixed but pypi only allow code with the same version num be upload once, so i have to increase the version num to 1.0.5. If you don't mind, please try again to i

[2017-02-17 14:15] NoneGG commented on #11
@inytar

[2017-02-17 14:15] #11 closed

[2017-02-17 15:13] inytar commented on #11
Thank you for the quick response and fix! I've installed the new version from pypi without any problems.
Thanks again!

[2017-02-17 15:17] NoneGG commented on #11
You are welcome~

[2017-04-04 05:30] NoneGG opened #22 "Add support for cluster operation"
## plan
1. transplant part of code from redis-py-cluster to aredis
2. make unit test and function test passed
3. optimize part of command

[2017-04-04 05:30] NoneGG commented on #22
Mission 1st completed

[2017-05-07 06:55] NoneGG commented on #22
Mission 2nd completed
Try to add more test cases and official document for aredis

[2017-05-08 20:02] NotSoSuper opened #25 "Assertion Error Asyncio Socket"
Getting these errors on Python 3.6

[code]

My code
[code]
Not sure right now if it's my code or the library, the error is vague.
Also, everything is working fine, it's just these errors spam my console.

[2017-05-09 02:35] NoneGG commented on #25
@NotSoSuper Thank you for your bug report!

According to your error, it seems like the aredis connection is used after it is closed. So i try to reproduce the error according to code given (i changed some part of it, for example, the bot attribute), but the code runs smoothly, if you don't mind, could you provide code more detailed?

Or can you tell me how you call `publish()` and `pubsub_loop()`?

[2017-05-09 23:33] NotSoSuper commented on #25
That's about all the code I use regarding aredis, the only other part would be in the `rpc_receive` function when I dispatch the event which calls at the end `await self.publish({'command': 'received', 'response': r}, data['snowflake'])`

[2017-05-10 02:47] NoneGG commented on #25
@NotSoSuper
I am not sure, the exception is hard to trace because it is raised from asyncio code and the error can not be reproduced in my environment.
The only clue is the `feed_eof`

In aredis, the read stream is `feed_eof` only when connection is disconnectd, and after being feeded eof, the reader or writer stream will be set to `None` (which disable them to be used again). So it is wierd that

[2017-05-10 03:58] NoneGG commented on #25
I mean the line of aredis code in which the aredis connection is disconnected and reused again or something related.

[2017-05-13 08:58] NoneGG commented on #25
Hey @NotSoSuper , do you have any idea about the bug?  Or may i close this issue?

[2017-05-13 17:32] NotSoSuper commented on #25
Sorry for the late response, I've rechecked my code and used try/except blocks but none of them produced an error.

[2017-05-14 03:03] NoneGG commented on #25
@NotSoSuper
Actually i did some experiments to prove my guess, but it seems like my guess is wrong.

In code below i try to disconnect the connection directly or use `pubsub.reset` to make the connection disconnected, but still can't the error be reproduced.
[code]

In `PubSub.parse_response`, if the connection can be read is checked when parsing response
[code]
And the `Connection.can_read` will

[2017-05-16 13:27] melhin opened #26 "ERROR sending "cluster slots""
Im getting

ERROR:root:ERROR sending "cluster slots" command to redis server: {'port': 7002, 'host': '127.0.0.1'}

When i try to use the StrictRedisCluster Connection

On further debugging i found that
parse_cluster_slots  in commands/cluster is looking for node[2] which somehow doesnt come in the cluster slots command run from the redis-cli

I run cluster slots
127.0.0.1:7001> cluster slots
1) 1)

[2017-05-16 15:58] NoneGG commented on #26
@melhin Hey, melhin, could you tell me how you deploy your redis cluster please? It seems like there are unknown error when you use StrictRedisCluster Connection. The error handling logic is like below (in `NodeManager.initialize`):

[code]

I try to reproduce your problem by code like below (i use docker in my development env, so i can access the cluster from `127.0.0.1` but the cluster thinks it

[2017-05-17 05:09] melhin commented on #26
@NoneGG  i saw that the error occurs in
[code]

On further traceback i found that in this function

[code]
node_id is assigned to node[2] which in my case doesn't come

as you can see
cluster slots
gives something like this
[code]
so from it you see there is no id parameter so the length of array in cluster slot response is just 2
when i run
[code]
i get the id though .

[2017-05-17 05:53] NoneGG commented on #26
@melhin
I get your point, that is a bug indeeed, which according to the [document](https://redis.io/commands/cluster-slots), is different in different version of redis server. I will try to make it compatible as soon as possible.
Thank you for bug report, that is really helpful! You will be informed immediately once the bug is fixed~

[2017-05-17 06:13] NoneGG commented on #26
@melhin
The bug is fixed~
Thank you for your bug report, if there are more advices or idea, please let me know, thaks~

[2017-05-17 08:53] melhin opened #28 "Error when using subscribe"
When i check the subscribe functionality i get an error
This is the code sample
[code]
This is the traceback
[code]
On further debugging i found out that
`self.nodes.slots[slot][0] `
is the on causing the problem , mostly because
self.nodes.slots is empty . Is there a configuration issue with my redis setting ?

[2017-05-17 09:20] #26 closed

[2017-05-17 10:10] NoneGG commented on #28
@melhin
That's my negligence, in cluster mode, nodemanager need to be initialized so that the cluster client can work well (It used to be initialized in `__init__` of connection pool, i depart it outside because it is async now ).
But i forgot to initialize it in pubsub, that causes the problem (also in pipeline, repaird in this patch as well)

It is really helpful for you to you to report the bug

[2017-05-17 11:39] #28 closed

[2017-05-29 12:21] NoneGG opened #32 "Support for "CLIENT REPLY ON | OFF | SKIP""
[command](https://redis.io/commands/client-reply)
I am not sure whether i should add support for the new command `CLIENT REPLY`(which need to share one connection between different commands execution, may lead change on `execute_command`) introduced since 3.2 release.

How do you think about that?

[2017-06-08 16:41] NoneGG opened #33 "Make response str instead of byte directly"
To enable user to write code easily~

[2017-06-10 08:14] #22 closed

[2017-06-10 08:47] NoneGG commented on #32
#34
[see example here](https://github.com/NoneGG/aredis/blob/master/examples/client_reply.py)

[2017-06-10 08:47] #32 closed

[2017-06-10 13:56] NoneGG commented on #25
@NotSoSuper
Hey~ Did you use `StrictRedis` or `StrictRedisCluster` as your redis client?
If the bug is raised when you were using `StrictRedisCluster`, there are two bug issues raised by melhin( #26 #28 ) which may lead to your question and is now fixed.
If you don't mind, could you install aredis from github (current version is not released yet) and try it again?

You can install by command
`pip

[2017-06-11 17:53] NotSoSuper commented on #25
@NoneGG I was using StrictRedis client, I'll update the package and test again!

[2017-06-12 02:21] NoneGG commented on #25
@NotSoSuper
Thanks, but no big changes were made on StrictRedis and the bug may still be there.
Anyway, i will try my best to figure out the bug.

[2017-06-21 08:16] #33 closed

[2017-06-21 09:41] NoneGG commented on #33
Done and released in 1.0.8

[2017-06-23 10:13] NoneGG commented on #25
@NotSoSuper
To solve the problem, i discard usage of `feed_eof`(mainly used in `connection.can_read` and pubsub) and use another way to enable `timeout` when using `pubsub and to handle streams disconnection.
[commit](https://github.com/NoneGG/aredis/pull/36/commits/d764804cf75a5e8bdfab4f4e04a6d5cf755f6a77) is here.

I hope that will help to solve the problem, it passes all test in my env and coul

[2017-06-23 18:54] NotSoSuper commented on #25
It indeed has fixed the issue, thank you! I'll be switching back from aioredis 👍

[code]

[2017-06-23 18:54] #25 closed

[2017-06-24 04:19] NoneGG commented on #25
@NotSoSuper
Hope that will help you~
If you have other problems about aredis please tell me, i will fix it as soon as i can

[2017-07-06 07:18] qwexvf opened #37 "RuntimeWarning: coroutine 'PubSub.on_connect' was never awaited"
Hello! i'm having a trouble implementing pub/sub with server sent events.
and i got
[code]

my stream view
[code]

Any thoughts?

[2017-07-06 16:08] NoneGG commented on #37
@qwexvf

## explanation about the problem
There is only when place where `Pubsub.on_connect` is used.

In `Pubsub.execute_command`, `Pubsub.on_connect` is registered to the connection by `register_connect_callback` if `Pubsub.connection` is None(the attr is given None when initialized, so it is None in your case) and will be executed after connection is built.

The main purpose is to re-subscribes

[2017-07-07 06:31] qwexvf commented on #37
Hello! thank you for checking this out!
i tried to look for more details error but its so strange lol.
i'm having another issue atm,

[code]

I don't know that do haha..
but i understood that the examples are working fine! so its something about my application.
thank you for helping me out.

[2017-07-07 08:23] NoneGG commented on #37
I am not sure, according to the error info, an error take place when `HiredisParser` tried to read from the `StreamReader` (asyncio). To handle the unknown exception, i will collect the error info and raise a ConnectionError instead ( but there seems to be no error args in this case)

I think it may be the network problem, can this error and the former error you post be reproduced steadily?

[2017-07-07 16:34] NoneGG commented on #37
@qwexvf
## about the first problem
I am not so familiar with sanic(it seems to be a nice framework), so i tried to launch stream view with the most common method provided by the official doc.

I use aredis 1.0.8 and the code below works fine (i add a statement to publish message), the server runs on 0.0.0.0:8000 and i use `curl http://0.0.0.0:8000/notifications` to call the api.

[code]

I am not

[2017-07-08 02:20] qwexvf commented on #37
Hello, The first problem seems to be fixed and working but not sure what was wrong.
i was trying to combine EventSource with redis pub/sub but seems to be too complicated.
ill stick with webosckets for now..

But Thank you so much for all that information. really helpful feedbacks.

[2017-07-08 03:16] NoneGG commented on #37
Don't mind~ Your bug report is important. Working out problem raised by user can make aredis better.

The second problem is caused by `concurrent.futures._base.CancelledError` raised during `StreamReader.read`, and i read related code and doc, `CancelledError` will only be raised after futures's state is set to `_CANCELLED`(from asyncio.futures) it seems to be a normal operation done by event loop

[2017-07-24 16:40] hballard opened #39 "UnicodeDecodeError when receiving pickled response from pubsub"
Hello.  Thanks for the excellent library.  The current Pubsub implementation decodes the whole response object from bytes, if it is a bytes object.  This is different from redis-py, which just converts the response type only and then passes the rest of the response through to the client.  This poses a problem with objects that are pickle (or any serialization) before they are published to the redi

[2017-07-25 02:36] NoneGG commented on #39
@hballard
Thank you for your bug report.

This is a historical bug introduced by aredis encoding issues, which is caused by my design mistake.

In former release of aredis(1.0.8-), decode reponse is not supported and user are considered to handle decoding themselves. It is proved to be foolish, so i tried to support decode reponse in version 1.0.9.
This situation is not considered suitably.

I wil

[2017-07-25 03:25] hballard commented on #39
Wow!  That is fast.  You did an excellent job on this library...design mistake or not (a minor one in my opinion if you want to call it that).  I'm building a graphql subscriptions client and need a drop-in replacement to support asyncio as a concurrency executor for my pubsub.  This is way easier to port from redis-py, than the other asyncio redis clients out there currently, IMHO.  Thanks!

[2017-07-25 10:11] NoneGG commented on #39
@hballard
Thank you for your high evaluation on aredis ^-^
This bug is fixed and pushed to master, if you don't mind, could you reinstall aredis by command below and try your code again?
`UnicodeDecodeError when receiving pickled response from pubsub`
Please let me know If there are still other problems

[2017-07-25 20:28] hballard commented on #39
I'll try this out this evening and let you know what I think for sure.  Thanks for the quick turnaround!

[2017-07-26 02:05] NoneGG commented on #39
You are welcome~
Looking forward to your opinion!

[2017-07-26 02:27] hballard commented on #39
All my tests pass like they did before w/ redis-py.  If you are interested, I've ported a graphql subscription client (uses websockets) for python [here](https://github.com/hballard/graphql-python-subscriptions).  It currently only works w/ Gevent...but I'm working on Asyncio compatability.  My plan is to use aredis for my redis pubsub client for the Asyncio executor (I'm using redis-py for non As

[2017-07-26 03:39] NoneGG commented on #39
It seems to be interesting, i will try and maybe i can make some contribution to your project~
Actually i mainly work on storage related stuff in my daily job and not so familiar with graphql, it may take some time for me to get familiar with that.

If you don't mind, i will close this issue~

[2017-07-26 03:40] hballard commented on #39
Sounds good.  Thanks.

[2017-07-26 03:42] #39 closed

[2017-08-05 05:08] NoneGG opened #42 "[new idea] How about distributed data structure provided like redisson?"
I find a interesting java package called [redisson](https://github.com/redisson/redisson)
It provide distributed data structure for users.
Should i add a similar module in aredis like that?

Please tell me your opinion about the idea  0- 0

[2017-08-05 14:40] qwexvf commented on #37
This issue is really weird.... i noticed that pub/sub is working.even if this is error happens.
[code]

[2017-08-05 15:00] NoneGG commented on #37
@qwexvf Thank you for the detailed info.
Related code is here and it is only used by pubsub(for now) to register a callback when connection is connected and then re-subscribe to any channels and patterns previously subscribed to.

The reason why pubsub can still run smoothly because it is a warning and only the re-subscription is influenced(which may be not so obvious).

[code]
It is weird that `P

[2017-08-05 16:20] NoneGG commented on #37
@qwexvf
I think i can reproduce the problem steadily and nearly find the reason now.

## why warning is not raised in my dev env?
In python3.5, the warning will not be raised even in debug mode of sanic(That's why i can't reproduce the error in former cases. It's my fault to debug in wrong direction. The bug, as said before, is disguised indeed, it is a warning and won't stop your program running)

[2017-08-06 21:01] qwexvf commented on #37
Hello, i'm sorry i should have left my python version.
And its working very nice! thank you for your support.

i'm going to learn more about async/await stuff i'm too newbie....

[2017-08-07 02:15] NoneGG commented on #37
It's my fault, actually your python version is left in your log but i ignored it.
がんばって！
If you have other problems about aredis, please tell me and i will solve them as soon as possible~

[2017-08-07 02:15] #37 closed

[2017-08-12 13:21] #42 closed

[2017-08-19 01:43] danigosa opened #45 "Sentinel not working"
Sentinel does not work, whilst using `redis-cli` or blocking `redis-py` do. Maybe I'm doing something wrong, I noticed that the `Sentinel` object differs from `redis-py` one as it does not allow the keyword argument `socket_timeout` (even being documented as a valid parameter).

* redis-py (1.0.9)
* aredis (2.10.6)
* redis (3.10)

# aredis

[code]

# redis-py
[code]

# redis-cli
[code]

[2017-08-19 06:56] NoneGG commented on #45
@danigosa
Thank you for your bug report firstly.

The main problem is caused by the function `parse_sentinel_masters`, it try to find key `flag` but there is only `b'flag'` in response if `decode_response` is set to `False`.

The bug is now fixed(your example code can be run smoothly in my env now) and related document will all get fixed as soon as possible.
If you don't mind, could you try fixed

[2017-08-19 14:09] danigosa commented on #45
Hi @NoneGG , now it works smoothly, when do you plan to release this in pypi? We cannot use _pointed to master_ pip packages in production (for obvious reasons). Thanks for the quick response!

[2017-08-19 15:18] NoneGG commented on #45
I am doing development about cluster transaction and it is almost finished. So the next release will be published in at most one week. I will try to finish the development as soon as possible.

[2017-08-19 23:07] danigosa commented on #45
@NoneGG sounds good, thanks for the nice work and for sharing it 👍

[2017-08-20 01:44] NoneGG commented on #45
If there are other problems about aredis, please let me know. I will fix it as soon as possible~

[2017-08-20 01:44] #45 closed

[2017-08-22 02:43] myrfy001 opened #47 "can't random choice on a dict"
in pool.py, get_random_connection() try to use random.choice() on a dict. It is wrong.

[2017-08-22 03:04] myrfy001 commented on #47
The detail is , if a redis cluster has set the timeout, and the request count to redis server is very small, some idel connection will be closed by the server. And when the request come, aredis will try to use a random connection, then, `return random.choice(self._available_connections)` will fail.

[2017-08-22 09:44] myrfy001 opened #48 "a broken connection will always be returned to pool"
If the server side set a timeout value, and the server close a connection because of idle, then ,this broken connection will stay in the pool forever.

and because pop and append is used to implement the pool, the released broken connection will be poped for next request and so on.

[2017-08-22 15:00] NoneGG commented on #47
@myrfy001
Thank you for the bug report~
The bug is fixed and pushed to master with some other changes(actually i am trying to add support for transaction on single node of a cluster)

You can try the fixed version by `pip install git+https://github.com/NoneGG/aredis.git`

[2017-08-22 15:04] NoneGG commented on #48
@myrfy001
Than you for the bug report again~ And sorry for my late response.

Could you give me a case to reproduce the problem? I am not sure where the problem is.

The broken connection with a timeout value is the connection disconnected due to timeout, but it will reconnect again if being used again, so it is thought safe to release connection with timeout set to the pool.

[2017-08-23 02:56] myrfy001 commented on #48
Sorry, I didn't noticed that the connection will try to reconnect, I only read the code in client.py and pool.py...but i think the reconnect step still has some problem.

if #47 is not fixed, and a request is going to be sent on a beoken connection, then a connection error will be raised, then `try_random_node` flag is set to true, on the next loop, because `try_random_node` is set, a random node

[2017-08-23 03:17] myrfy001 commented on #48
I think if a connection was built, and then disconnected by the server, `Connection._reader` and `Connection._writer` won't be set to `None`, so, in fact, there is no reconnect at all.

[2017-08-23 07:13] NoneGG commented on #48
@myrfy001
Actually disconnection is launched by client and both `Connection._reader` and `Connection._writer` are set to `None` during disconnection.
About the test case, i will try to reproduce the problem later tonight to find out the problem~

[2017-08-23 07:42] myrfy001 commented on #48
connection will be disconnected in `_execute_command_on_nodes ()`, that's fine, but in the following code, if a broken connection is used, it will not be closed.
https://github.com/NoneGG/aredis/blob/d84a5ad6a4d4510f0801ef46323b1f1a902e0a19/aredis/client.py#L406

The `try` statement and close a connection if broken should be checked at every place where network io may happens,

[2017-08-23 08:32] NoneGG commented on #48
Your opinion is reasonable, and actually `Connection.disconnect` is called in `Connection.read_response` and `Connection.send_packed_command` when timeout error or other unknown errors take place. And reconnection is tried if connection found not connected in `Connection.send_packed_command`.

The reconnecting and disconnecting issues are mainly thought to be the underlying structure of client.

[2017-08-23 08:51] myrfy001 commented on #48
sorry for the previous comment, i didn't dig deeply into the code.

It was because of #47, the broken connection can't be reconnected.

I think this issue can be closed.

[2017-08-23 10:19] NoneGG commented on #48
Thank you for the bug report and discussion on connection, it is really helpful for those who has doubt about similar problems~
If you have other problems please tell me, i will fix them as soon as i can.

The bug refered in issue #47 is already fixed and will be released in next release soon (in this week).

[2017-08-23 10:19] #48 closed

[2017-08-23 10:19] #47 closed

[2017-08-24 04:24] NoneGG commented on #45
@danigosa
FYI, release v1.1.0 is published last night~

[2017-08-25 10:32] myrfy001 opened #51 "maybe it should wait instead of raise an error if reached the max connection limit"
I'm now running aredis  connecting to a cluster with 12 node, and the client side has more than 50 machines, and about 200 client process,  So, the total connection number is very large.

And because we use asyncio, a lot of tasks are running at the same time. When a request peek comes,  `Too Many Connections` error often occurs.

I don't want to increase the connection pool size. We use asyncio s

[2017-08-25 11:08] NoneGG commented on #51
Sure, i will think about it and give a response recently~ Thank you for your suggestion

[2017-08-26 07:04] NoneGG commented on #51
@myrfy001
I consider about your suggestion last night.

I think the client should not decide the behavior of program instead of user when too many connections are built. User's program can catch the exception and custom their code to handle the error (they may need the coroutine to do something else instead of sleeping)

So i can't let the task wait in my client silently.
Thank you for your sugges

[2017-08-28 09:14] myrfy001 opened #52 "Connection's recv buffer should be emptied before sending new command"
In some case, if a command was interrupted by outer exceptions(such as timeout),  the connection will be released to the pool containing unconsumed data. The unconsumed data will be read by the next command and thus lead to mistake.

The following code can reproduce this situation (it use async_timeout library from aio-libs):
[code]
And you will get output like this after running for sometime:
[co

[2017-08-28 09:30] myrfy001 commented on #52
Maybe there is another way to solve this problem. Add a `state` property to the `Connection` class,  and mark a connection as `busy`, before sending a request and mark it as `idle` after handled the response. Before sending a new command, check the `status`.

[2017-08-28 10:33] NoneGG commented on #52
That sounds reasonable, would you like to make a pr? Or i will try to fix this problem this weekend

[2017-08-28 10:33] NoneGG commented on #51
@myrfy001 May i close this issue?

[2017-08-28 10:52] #51 closed

[2017-08-30 15:09] NoneGG commented on #52
@myrfy001
Do you think it should be regarded as reusable if a connection is broken(stop before or during reading response)?

For now i try to fix this issue by adding attribute to connection to indicate if it is waiting for response,  if it is waiting then connection will be disconnected and never put back to available connection list again. The parse response error `'int' object has no attribute

[2017-08-31 00:26] myrfy001 commented on #52
I think close the connection is the safest way. Think this situation: because of network delay, or because of large responses by bulk execution, the response of the pervious command may arrive after cleaning the buffer. So, close the connection is a safe way to avoid this. Besides, this problem is an edge case so it's seldom happens, so, there won't be a lot of reconnect action that will lower the

[2017-08-31 02:16] NoneGG commented on #52
That's nice, this patch will be tested and merge to master soon.

[2017-08-31 14:13] NoneGG commented on #52
@myrfy001
Patch is already merged to master and you can try it with
`pip install git+https://github.com/NoneGG/aredis.git`

If there are other problems please tell me~

[2017-09-04 10:48] NoneGG commented on #52
@myrfy001
May i close this issue?

[2017-09-04 11:52] myrfy001 commented on #52
It seems working well.
Looking forward to the next release.

[2017-09-04 13:26] #52 closed

[2017-09-05 03:01] dangerousfeng opened #54 "pipeline when transaction=True error; but transaction=False pass"
Traceback (most recent call last):
  File "/home/chaos_session/chaos_session/route.py", line 65, in exec_action
    result = await class_obj.exec_action()  # 执行对象的exec_action方法d
  File "/home/chaos_session/chaos_session/tool/action_base.py", line 136, in exec_action
    await self.take_action()
  File "/home/chaos_session/chaos_session/tool/action_base.py", line 118, in take_action
    await self.

[2017-09-05 06:47] NoneGG commented on #54
The error seems to be caused by `AttributeError: module 'typing' has no attribute 'Awaitable'`, but in my dev env(Python3.5.3) typing package do has attribute `Awaitable`. I am not sure if this is caused by the difference among Python3.5 releases.
Could you tell me with which release of Python3.5 are you working?

[2017-09-05 08:40] dangerousfeng commented on #54
oh，it's Python 3.5.0

[2017-09-05 09:00] dangerousfeng commented on #54
Now i use python3.5.2, it run, thank you!

[2017-09-05 09:18] dangerousfeng commented on #54
Do you have any other examples of XX? Can you give me some information? Thanks very much！

[2017-09-05 09:19] dangerousfeng commented on #54
Do you have any other examples of  pipeline? Can you give me some information? Thanks very much!

[2017-09-05 10:53] NoneGG commented on #54
That's an issue indeed, i will try to support coroutine judgement in Python3.5.0.
About the example of pipeline, you could see code [here](https://github.com/NoneGG/aredis/blob/master/examples/pipeline.py)
Let me know if you still have problem about that~

[2017-09-06 01:31] dangerousfeng commented on #54
I want to implement a RedisManager, and now my idea is as follows:，do you think there is no error in the structure, is there a better way?

`class RedisManager(object):

    def __init__(self, server_id,app_id = 0):
        self.server_id = server_id
        self.app_id = app_id
        self.conn = aredis.StrictRedis(connection_pool=my_redis_pool,connect_timeout=5, retry_on_timeout=5)
        self

[2017-09-06 02:59] NoneGG commented on #54
@dangerousfeng
I read your code(have not run yet) and find some problems:

1. StrictRedis is a client which can hold multi connections, naming it as `self.conn` seems not appropriate
2. The pipe is shared in the object(if instantiated), which seems meaningless, all operation of pipeline is packaged in your functions and not shared.(ignore this if there are other usage of pipeline between two funct

[2017-09-06 03:30] dangerousfeng commented on #54
I want to share pipe in the object, but I don't know how to implement it.

[2017-09-06 04:44] dangerousfeng commented on #54
噢！我发现你在上海！
我希望能够在类实例化的时候得到pipeline，然后在其他函数里面调用self.pipe就可以使用。也就是所有函数共用一个pipeline。这样可以做到吗？不希望在每个函数里面都做
async with await       self.conn.pipeline(transaction=True) as pipe:这一步。我现在使用了sanic uvloop  aredis，但是性能上面较flask提升不大。我现在在排查问题，认为是redis这部分异步有问题。
真的很感谢你！

[2017-09-06 06:23] NoneGG commented on #54
可以的，不用 `async with` 进入上下文管理器，如果不涉及多进程多线程的话在实例化的时候直接 `self.pipe = self.conn.pipeline(transaction=True)` 即可， pipeline 对象在调用 `execute` 后会做 `reset` 操作，不过在你的类对象析构的时候最好还是带上 `self.pipe.reset`。
我对 benchmark 很感兴趣，不知道你这边是一个什么类型的 web 应用，是怎样进行的性能测试？

[2017-09-06 07:10] dangerousfeng commented on #54
实例化：
[code]
函数调用：
[code]
报错：
`File "/home/chaos_session/chaos_session/db_manager/redis_manage.py", line 199, in _insert_one
    await self.pipe.hmset(JWT, data)
AttributeError: 'coroutine' object has no attribute 'set'`
另一种调用方式：
[code]
报错：
`File "/home/chaos_session/chaos_session/db_manager/redis_manage.py", line 257, in insert_index
    pipe = await self.pipe
RuntimeError: cannot reuse already aw

[2017-09-06 07:44] NoneGG commented on #54
不好意思，是我的疏漏，`self.pipe = self.conn.pipeline(transaction=True)` 前要加上一个 `await`， 应该是 `self.pipe = await self.conn.pipeline(transaction=True)`，`StrictRedis.pipeline(transaction=True)` 是一个需要 `await` 的协程

[2017-09-06 07:50] dangerousfeng commented on #54
但是init构造函数里面不可以使用await吧

[2017-09-06 08:11] NoneGG commented on #54
是这样的，你可以选择在 init 函数内置为 None 然后要用到的时候通过协程来赋值

[2017-09-06 11:16] dangerousfeng commented on #54
嗯嗯，可以啦。我现在试图提升会话服务项目的性能，之前采用flask框架。希望通过sanic重构，配合uvloop，提升性能，但是目前的效果就是RPS比flask时提升一倍，但是并没有像网上说的好几倍，只是和pypy下的flask性能差不多。

[2017-09-06 11:36] NoneGG commented on #54
裸性能来说用 asyncio 其实是较慢的，他的优势在于低开销地处理大量请求，采用多线程模型的话可能对大量请求是可能hang住的。会不会是你这边性能测试的时候没有模拟业务环境（带上数据库或者文件io），只是纯粹拼 helloworld 的请求的话不一定能测出你服务的真实性能提升。
你这边有发现性能瓶颈么？可以 profile 看一下~这个问题其实很重要，如果确认是 aredis 导致的请告诉我，我会尽可能优化。
不介意的话这个 issue 我就关闭了

[2017-09-06 11:36] #54 closed

[2017-09-15 13:10] semirook opened #55 "Distributed lock for Redis Cluster"
Hi!

It would be very useful to have distributed lock support for the cluster in your awesome library. It's very common to have Redis cluster on production and Redis-related logic is just broken with >1 instance of consumer, for example. None of current drivers have such a feature.

Thank you.

[2017-09-15 13:52] NoneGG commented on #55
@semirook
Actually i am also considering about this problem recently. The distributed lock function is assumed to be finish in coming release, but i find some problem about it.

The official solution provided by redis team is [redlock](https://redis.io/topics/distlock).
But that is not so suitable for redis cluster because the same keys will be hashed to the same slot(thus the same master node). E

[2017-09-15 14:10] semirook commented on #55
Thank you for quick response. Described problem is clear for me and I'll think about it too.

[2017-09-15 14:21] NoneGG commented on #55
If you have idea bout it please tell me, i need someone to discuss about the issue indeed.
I will leave this issue open~

[2017-09-16 10:16] whiteplanet opened #56 "PubSub get_message() not always returns None when there're no data available"
Hello Jason,

Looks like PubSub get_message() function is not working as expected, on  just created channel without no data. I assume that call of this method should return None in that case, however None returns only once and then execution "hangs" and awaits for coroutine to be completed (actual data appears in the channel) and then execution continues.

Here are the steps to reproduce this issu

[2017-09-16 12:16] NoneGG commented on #56
@whiteplanet
Thank you for your bug report and patch(may be next time you can make a pull request directly~), that is a realization problem indeed.
But i think check on `can_read` is still necessary so i change the check to how redis-py do it.
Your script can now be run well in my dev env, if you don't mind, could you test it by reinstall aredis from git?
`pip install git+https://github.com/NoneGG

[2017-09-16 13:16] NoneGG commented on #55
@semirook
About the hash problem, i have got three ideas.

## idea1:
Trust single node and its fail-over, set lock key in master node and then use cluster `readonly` mode to read lock key from slave node (may redlock algorithm be used) to confirm sync between master and slave is successful(in this way the lock is available until master node and all its slaves are down)

## idea2:
Generate specific

[2017-09-16 13:29] whiteplanet commented on #56
Hi Jason,

Unfortunately it doesn't work for me. Right now I get None in return in case with empty channel. However when other side of my app pushes data into the channel, it doesn't appears on the side where get_message() actually called (get_message continue returning None).

Also, with this update I've noticed another issue when Debug is turned ON for the loop:
`Executing <Handle <TaskWakeupMet

[2017-09-16 13:40] whiteplanet commented on #56
Hi Jason,

I've checked this code is always False for me.
[code]

Also looks like this guy
[code]
Works really slow and raises warning I've previously mentioned.

Best,
Jack

[2017-09-16 14:54] NoneGG commented on #56
Dear @whiteplanet

## get_message always return None
I am not sure, `can_read` seems do have problem when there are msg published, i will check that and give a solution as soon as possible.

## about the TaskWakeupMethWrapper
This seems to be the problem of `asyncio` rather than `aredis`, links below are also about that:
https://github.com/channelcat/sanic/issues/245
https://bugs.python.org/issue3

[2017-09-16 16:58] NoneGG commented on #56
@whiteplanet
You are right, the check of `can_read` is redundant and it will always be false even message is published, i have remove it now.
I really appreciate your suggestion, that helps a lot~
Please try again with your app now, it should run well.

[2017-09-16 21:05] whiteplanet commented on #56
Hi Jason,

Right now when I stop (ctrl+c) the other part of my app (which is actually pushes data into a channel and also uses aredis library), I get another exception: `ResourceWarning: unclosed resource <TCPTransport closed=False reading=True 0x1c504f8>` Looks like some kind of a resource is not released properly.

Also, some times this exception arises in my message listener (when get_message()

[2017-09-17 00:41] NoneGG commented on #56
@whiteplanet

The error in your listener is caused by connection disconnected being used to `get_message` again, this may need check on `self._reader` or related resource (that is what `can_read` check used for before)

About the `TCPTransport`, i agree with your opinion, there seems to be resource not released properly.

Could you give me some demo so i can reproduce and fix the problem? Or maybe

[2017-09-17 09:12] ahopkins commented on #37
@qwexvf Thanks!

I was also seeing the error:

`RuntimeWarning: coroutine 'PubSub.on_connect' was never awaited return self.gen.send(None)`

Installing the latest version using `pip install git+https://github.com/NoneGG/aredis` (I moved from v 1.0.9 to 1.1.0) fixed the problem.

[2017-09-17 12:22] NoneGG commented on #56
@whiteplanet
I make a publisher and a listener and run them in different process, but neither `TCPTransport` nor  parser of a connection being used after disconnection could be seen in log. I think may it be different scene where your code working.
My code is like below, could you give me some example to reproduce the problem?
By the way, could we create a new issue to trace this problem? This may

[2017-09-17 20:43] whiteplanet commented on #56
Hi Jason,

I've created a test [repo](https://github.com/whiteplanet/aredis-test) and in this test code everything is working fine: no leaks, correct app termination.

I'll double check my project code tomorrow and let you know about results.
Thank you, for the patience and help.

Best,
Jack

[2017-09-18 03:06] NoneGG commented on #56
@whiteplanet
Thank you for help to find the problems. I really appreciate your effort.
Looking forward to your results~

[2017-09-18 13:43] whiteplanet commented on #56
Hi Jason,

I've checked my code and noticed that in test code absent **pubsub** destruction code `pubsub.close()` & unsubscription `pubsub.unsubscribe()` (like in my project code). I've added it to the test project and now the issue appears once again.

Please checkout my test [project](https://github.com/whiteplanet/aredis-test) and run just one listener (listener.py). It now listen for the data

[2017-09-18 17:09] NoneGG commented on #56
@whiteplanet
Thank you for the help! I find the error only take place randomly when using hiredis as parser.

The `CancelledError` is catched by `HiredisParser.read_response` and raised as a `ConnectionError`, which will be retried in error handling by reconnection in `pubsub.parse_response`. Reconnection will invoke `HiredisParser.on_connect`, till now every thing runs well, then connection try t

[2017-09-19 11:37] whiteplanet commented on #56
Hello Jason,

This is seem to be working. But could we simply catch `CancelledError` in the `SocketBuffer` class?

[code]

Best,
Jack

[2017-09-19 11:47] whiteplanet commented on #56
I've created a [patch](https://github.com/NoneGG/aredis/files/1314074/cancellederror-patch.txt), please give it a try.

[2017-09-19 14:03] NoneGG commented on #56
@whiteplanet

Thank you for your patch~

I think we should use `raise` instead of `break` in case normal cancellation of coroutine controlled by users.

Both methods can avoid command being retried twice(if error raised is not instance of `ConnectionError` or `TimeoutError`, error won't be caught in pubsub._execute and ). But if loop `break` directly, `return response` will be executed and `False`

[2017-09-19 18:37] whiteplanet commented on #56
Done.

[2017-09-19 18:37] #56 closed

[2017-09-24 04:32] NoneGG commented on #55
@semirook
Finally i implement the distributed lock according to the first idea. If you don't mind, could you please help me to review the changes at: [commit](https://github.com/NoneGG/aredis/commit/50d1d539b34d69afcea412d9dd07f6cbb150adf7)?

Although i have thought several extreme situation, i am still worried about consistency and efficiency of the lock.

[2017-09-25 11:57] semirook commented on #55
Anyway you understand all of that corner cases better. I'll take a look, sure.

[2017-09-27 15:41] NoneGG commented on #55
@semirook `ClusterLock` is merged and will be available in next release~

[2017-09-27 15:41] #55 closed

[2017-10-26 15:22] Naught0 opened #61 "UnicodeEncodeError with char '\u0361'"
Here is the setup of the main client
[code]

This is the statement which the error surrounds.
[code]

The URL in question is:
`http://knowyourmeme.com/memes/hentai-woody-%E5%A4%89%E6%85%8B%E3%82%A6%E3%83%83%E3%83%87%E3%82%A3%E3%83%BC`
(the URL is a result of searching the site for the Buzz Lightyear meme and accidentally coming across this which happened to introduce a bug).

Full traceback:
[code

[2017-10-26 16:14] NoneGG commented on #61
Don't worry, I will check about that

[2017-10-26 17:24] NoneGG commented on #61
@Naught0
Decode bug is fixed and tested with code like below:
[code]

If you don't mind, could you try it with command:
`pip install git+https://github.com/NoneGG/aredis`

[2017-10-26 18:58] Naught0 commented on #61
Sorry, I've been out! Thanks for the prompt reply. I will test the git version immediately and report back.

[2017-10-26 19:01] Naught0 commented on #61
Would you look at that, it worked like a charm. Thanks again for the fix!

[2017-10-26 19:01] #61 closed

[2018-01-08 10:27] kstrempel opened #64 "AWS RedisCluster not working / get master node failed"
We trying to use aredis with a ElasticCache Redis Cluster, but getting the following error.

[code]

Our redis client creation is the following:

[code]

We using python 3.6 with sanic 0.7.0.
The setup is working with using the redis-py-cluster==1.3.4.

[2018-01-08 15:04] NoneGG commented on #64
@kstrempel
Sorry to bring you inconvenience.
Since you don't refer the version of aredis, i suppose it to be the newest version(v1.1.1)
This problem seems to be caused by setting `skip_full_coverage_check` to `True`(it's surely correct considering the aws env)

I can't reproduce the problem in my dev env so it is hard for me to locate the bug accurately.
I can only see there may be something wrong

[2018-01-18 11:21] kstrempel commented on #64
Hello,

sorry for the late anser. I run your small testscript against the AWS redis cluster.

This is the result

[code]

I had to change the connection part a bit.

[code]

A AWS you have no 7000, 7001 port for the cluster.

[2018-01-18 15:34] NoneGG commented on #64
@kstrempel
Thanks for your feedback~
Please try code below to see if this problem is caused by not calling `connection_pool.initialize` or slots not obtained in `nodemanager.initialize`
[code]

[2018-01-18 16:50] kstrempel commented on #64
Here it is.
I had to change the connection part again to 'port': 6397.

[code]

BTW I forgot to mention that our current solution is running with the ```redis-py-cluster==1.3.4``` package, with the exact same connection configuration. Perhaps that helps to find the problem.

[2018-01-19 02:38] NoneGG commented on #64
@kstrempel
Thanks.
It seems like that `node_manager.initialize` get no slots info when called, i will compare with redis-py-cluster code to find the real problem.

[2018-01-19 16:07] NoneGG commented on #64
@kstrempel
Could you help to try the code optimized? I compared this part of code with redis-py-cluster, most logic of them is the same but the process of single node situation.
But i am not sure if it is possible that you have only one node in your aws redis cluster.
you can install the newest version by:
`pip install git+https://github.com/NoneGG/aredis`
If that still not work, could you show me

[2018-01-24 11:35] halicki opened #67 "API reference on readthedocs"
Hello everyone!
Could the [_API reference_ page on readthedocs](http://aredis.readthedocs.io/en/latest/api_reference.html)  include the real description the API? At the moment it has no content - only modules hedlines.
Sincerely
Arek

[2018-01-24 15:00] NoneGG commented on #67
Hi @halicki ~
For now the API reference part of doc is generated automatically by sphinx and not so detailed. Since you can find most API description in [redis command reference](https://redis.io/commands) only something different or important is referred in doc specially.
You can ask here / post a new issue / read [redis command reference](https://redis.io/commands) If you have any problem about

[2018-02-01 22:11] stj opened #68 "TSL connection to AWS redis cluster"
## Checklist

- Python version
3.6.3
- Using hiredis or just Python parser
hiredis
- Using uvloop or just asyncio event loop
asyncio
- Does issue exists against the `master` branch of aredis?
both

## Steps to reproduce
[code]
[code]

## Expected behavior
Connects and does not raise exception

## Actual behavior
[code]

[2018-02-02 13:33] halicki commented on #67
Hey @NoneGG!
Thank you for your response. I don't have any problem with any specific command. Just wanted to make documentation on readthedocks not having so many empty places. Having said that, maybe it would be a good idea to remove those parts from Sphinks generated docs. We should provide a valuable info for our users or skip a doc page at all.
Cheers!
Arek

[2018-02-02 17:16] NoneGG commented on #67
@halicki
You are right, i will try to optimize this part of doc~
Thank you for your advice.

[2018-02-02 17:46] NoneGG commented on #67
@halicki
Thank you again for your advice~
New issue is welcomed if you have any other advice.

[2018-02-02 17:46] #67 closed

[2018-02-02 18:44] NoneGG commented on #68
@stj
Thank you for your detailed issue~
This bug can be reproduced in my test env (even not aws) simply by using url to connect to redis cluster. (although it will block if the cluster do not support ssl)

If you don't mind , could you use the master branch code to go on your test and see if it can work well in aws env? (Since this is the second issue related to aws redis cluster, i try to registe

[2018-02-06 23:17] stj commented on #68
Haven't had a chance to test this against AWS redis cluster. Hope I have time to do so this week.
Thanks for jumping on the issue that fast!

[2018-02-09 01:53] vineetgoel commented on #64
I tried that out! It worked!

[2018-02-09 02:45] NoneGG commented on #64
@vineetgoel
Thanks a lot sincerely, that really helps!
@kstrempel
If you don't mind, this issue will be closed, thank you again for you bug report~
If there are still problems, please reopen the issue.

[2018-02-09 02:45] #64 closed

[2018-02-14 18:04] stj commented on #68
Finally had a chance to test this and it does not throw the error anymore 👍.

Though I have not been able to connect to AWS redis either. `await redis.connection_pool.initialize()` times out with `aredis.exceptions.RedisClusterException: Redis Cluster cannot be connected. Please provide at least one reachable node.` Problem is that I have no access to AWS console to check what my OPS team has set

[2018-02-14 18:04] #68 closed

[2018-02-15 04:32] NoneGG commented on #68
@stj
Thank you for your test and feedback~

[2018-03-02 17:44] crinny opened #71 "Connecting with Redis URL?"
How can i connect to databse with such string as `redis://h:p5ef9a0cfbef0io972d83933b10d99bc7d5d4a1ec777db341c6b12310f47e2cea@ec2-52-212-239-249.kabab.com:12345`?

[2018-03-07 09:03] NoneGG commented on #71
@crinny
You can connect to redis using code like `StrictRedis.from_url(your_url)`

[2018-03-10 06:21] NoneGG commented on #71
This issue will be closed now, if you have other problems about that, it is welcomed to be open again~

[2018-03-10 06:21] #71 closed

[2018-04-05 19:40] pliu opened #72 "ZADD options"
Want to be able to use ZADD options.

[2018-04-07 04:13] NoneGG commented on #72
Thank you again for your pull request, that's awesome!
If you don't mind, this issue will be closed~

[2018-04-07 04:13] #72 closed

[2018-04-19 00:10] pliu opened #75 "Possible to cut a new version with the added zaddoption feature?"
^ Title.

[2018-04-19 02:33] NoneGG commented on #75
@pliu
Actually v1.1.2 is released only a few of days ago(without zaddoption included), the timing is not so good regretfully.
If you don't mind, could you tell me why a new version is needed so urgently?
It is enough to install by command
`pip install git+https://github.com/NoneGG/aredis`
if you only use aredis in dev env, or are you goingto use aredis in production env?

[2018-04-19 03:46] pliu commented on #75
Was actually planning on running it in production :P

[2018-04-24 20:44] vineetgoel opened #76 "Moved error"
I am using StrictRedisCluster.

I am getting a bunch of MovedErrors. Is there some setting I need to set to allow for redirections upon cluster movements?

[2018-04-25 15:25] NoneGG commented on #76
@vineetgoel
This problem is not thought about before, actually `MovedError` will not be raised in aredis client(this kind of exception is handled automatically by client itself), it will only update node-slot cache instead.
If you don't mind, could you give me detailed log of your app?

[2018-05-08 11:14] Rmaan opened #77 "aredis pipeline does not work with Python 3.5.1"
## Checklist

- Python version 3.5.1
- Does issue exists against the `master` branch of aredis? Yes

## Steps to reproduce
Use aredis and execute a pipeline with Python 3.5.1.

## Expected behavior
No error.

## Actual behavior
[code]

aredis will check being awaitable in this line of code:

https://github.com/NoneGG/aredis/blob/f662f3332021a1147ed55cd5a202aa9b37c44d0b/aredis/pipeline.py#L203

and

[2018-05-09 17:28] NoneGG commented on #77
Thanks for your advice, i will take a look at it as soon as possible~

[2018-05-10 06:31] NoneGG commented on #77
@Rmaan The bug you reported is now fixed~
Thank you for you report sincerely and this issue will be closed.
It is always welcome to be open again if there are further problems related.

[2018-05-10 06:31] #77 closed

[2018-05-10 06:32] NoneGG commented on #76
@vineetgoel If you don't mind, this issue will be closed. Please feel free to reopen it~

[2018-05-10 06:32] #76 closed

[2018-05-15 05:58] vineetgoel commented on #76
Sorry about ghosting this thread. I have not been able to see the error again. I will add it here and reopen if I can find it.

[2018-05-30 03:51] yifeikong opened #78 "Do I have to call flushdb before using?"
I have noticed that `await client.flushdb()` is called after creating the client object, do I have to call this function each time before using?
[code]

[2018-07-04 07:08] penguinol opened #79 "redis.pubsub().listen() does not work properly"
## Checklist

- Python 3.5.1/Python 3.6
- Python parser
- event loop
- 1.1.2

## Steps to reproduce
[code]

redis-cli publish notify bye

## Expected behavior
with redis-py, it's output is as blow:
{'type': 'subscribe', 'pattern': None, 'channel': b'notify', 'data': 1}
{'type': 'message', 'pattern': None, 'channel': b'notify', 'data': b'bye'}

## Actual behavior
with aredis it's output is:

and it

[2018-07-06 06:10] penguinol opened #80 "redis.pub_sub().get_message() subscribe channel duplicated"
## Checklist

- Python 3.6
- Python parser
- asyncio event loop
- 1.1.2

## Steps to reproduce
[code]
## Expected behavior
with redis-py, it only call subscribe once, and receive subscribe notify once

## Actual behavior

with aredis, it will receive subscribe notify every time when get_message() is called

[2018-07-06 09:27] penguinol opened #81 "call redis.pubsub().get_message() with different timeout, it will crash"
## Checklist
- Python 3.6
- Python parser
- asyncio event loop
- 1.1.2

## Steps to reproduce
[code]

the behavior of get_message() is also different form redis-py
when set time_out = 0, redis-py will return immediately, but aredis will never return until it received a message
i don't know whether it is a bug.

## Actual behavior
{'type': 'subscribe', 'pattern': None, 'channel': b'test', 'data': 1

[2018-07-07 03:31] NoneGG commented on #79
@penguinol
Thank your for your detailed bug report.
Actually, the response given back from `redis_sub.listen()` is `dict`, and the output printed are actually the keys, by the way, `block=True` is used to indicate if timeout is set on the coroutine used to read response.

Please try code below:
[code]

[2018-07-07 03:46] NoneGG commented on #80
@penguinol
You can see subscription message because `timeout` is set to 5, and if in 5 seconds there are no messages published, the `TimeoutError` error will be raised, connection will be reconnected and then the topic will be subscribe again.
You can add judgement on message `type` field to avoid this problem, or you can add `timeout` in upper layer.

[2018-07-07 03:50] NoneGG commented on #81
@penguinol
Actually only with `timeout` more than 0 the timeout is effective, it will be ignored if not set to value bigger than 0.

[2018-07-09 02:36] penguinol commented on #79
Your code works fine. So maybe the document should be changed.

http://aredis.readthedocs.io/en/latest/pubsub.html

Older versions of aredis only read messages with pubsub.listen(). listen() is a generator that blocks until a message is available. If your application doesn’t need to do anything else but receive and act on messages received from redis, listen() is an easy way to get up an running.

[2018-07-09 02:45] NoneGG commented on #79
Thank you for your advice~
Since generatior is not allowed in `async` `await` function, there may be difference between redis-py and aredis on that point, i will change the document soon.

[2018-07-09 02:56] penguinol commented on #80
I'm wondering whether re-connecting and re-subscribing will lead to losing of notify messages which are sending at that moment .

[2018-07-09 07:04] penguinol commented on #79
Maybe `async for` is a choice

[2018-07-09 14:45] NoneGG commented on #80
@penguinol Yes, if message is published before topic is successfully subscribed, the message will be missed.

[2018-07-09 14:53] NoneGG commented on #79
That seems good~But i think it is better to give the authority to user to decide whether to use `listen` as a generator, if they do, may be they can package code like this.

[2018-07-10 02:50] penguinol commented on #81
The behavior of get_message(timeout = 0) is different from the document. Actually it will not return until received a message.

[2018-07-10 05:32] NoneGG commented on #81
That's my fault, actually most of the document is modified on the base of redis-py, some part is missed. I will change it soon.

[2018-07-10 05:34] NoneGG commented on #80
You are right, re-connection and re-subscription seems needless here

[2018-07-12 06:40] ray1888 opened #82 "tornado with aredis issue"
## Checklist

- Python version
 3.6
- Using hiredis or just Python parser
 python pareser
- Using uvloop or just asyncio event loop
asyncio event loop
- Does issue exists against the `master` branch of aredis?
no
## Steps to reproduce
run tornado with routerconfig
## Expected behavior
to get the value from redis by key with await
## Actual behavior
- It is appreciated if error log can be provided

[2018-07-12 06:46] ray1888 commented on #82
more added:
1. it can set key to redis , but after set key , it didn't run the code below it
[code]

[2018-07-12 06:50] ray1888 commented on #82
this is how i init my redis client
[code]

the main webserver up python file
[code]

[2018-07-12 17:11] NoneGG commented on #82
@ray1888
I think it is the issue of event loop, please see [Bridge between asyncio and Tornado](http://www.tornadoweb.org/en/stable/asyncio.html)~

[2018-07-14 11:50] NoneGG commented on #81
@penguinol
Related doc is fixed, thank you again for your report~

[2018-07-14 11:50] #81 closed

[2018-07-14 11:51] NoneGG commented on #79
This issue is closed, if there are other related problems, please feel free to open it again~

[2018-07-14 11:51] #79 closed

[2018-07-14 13:18] NoneGG commented on #80
@penguinol
After debug, i find out that connection is disconnected when handling `CancelledError` raise in coroutine caused by timeout, and then re-connection is brought out.
To see the reason of this change, you can see #56

Now a check will be placed before disconnection, when `CancelledError` is raised, only connection with not empty buffer will be disconnected. Useless re-connection and re-sub

[2018-07-16 03:52] myrfy001 opened #85 "Streams command support?"
When will the streams commands be added?

Looking forward for that~

[2018-07-16 14:57] NoneGG commented on #85
It's on the way

[2018-07-17 07:19] craigglennie commented on #85
@myrfy001 you can use the streams now by calling `execute_command` with your client object. Here's an example:

`await client.execute_command('XADD', 'stream_key', 'MAXLEN', '~', 100, '*', 'field', 'value')`

[2018-07-18 07:14] ray1888 opened #86 "feature request"
## Checklist

- Python version
  3.6
- Using hiredis or just Python parser
python parser only
- Using uvloop or just asyncio event loop
asyncio event loop
- Does issue exists against the `master` branch of aredis?

## Steps to reproduce

## Expected behavior
to get a result is not None with callback

## Actual behavior
- It is appreciated if error log can be provided
is that any possible to add a

[2018-07-20 16:29] NoneGG commented on #86
If you are using single node or sentinel, there may be a simple way to achieve the result of a callback:
1. register a lua script
    * get value of the key
    * publish the key to a specific topic(using `pubsub` or `stream` or just simple list using `rpop` `lpush`)
2. use tornado ioloop to add a crontab job to check the callback or create another celery job in which you can call another api  of

[2018-07-25 03:32] NoneGG commented on #86
@ray1888 This issue is closed now, feel free to open it again~

[2018-07-25 03:32] #86 closed

[2018-07-29 08:31] NoneGG commented on #85
@myrfy001 @craigglennie
Stream support is nearly finished, but i found some part of the commands like `XTRIM`, `XCLAIM` are not released yet and may be changed in next release. For now, I just add related code in [streams branch](https://github.com/NoneGG/aredis/tree/streams)
Would you like to try it? Advice is welcomed. Related detailed test cases will be added soon(it is simply tested for now)

[2018-07-30 07:17] myrfy001 commented on #85
OK
We are planing to use it in a new project, so we will test it as the project being developed.

[2018-07-30 14:10] creotiv opened #87 "Order of params in zincby is not the same as in official redis docs"
https://github.com/NoneGG/aredis/blob/bc75f740744e84b23e1709b7b8bd40ccae154445/aredis/commands/sorted_set.py#L89

docs: https://redis.io/commands/zincrby

[2018-07-31 08:46] BlingBlingdevelopers opened #88 "hi,I think there is an optimization place here."
i use  ` xreadgroup`  get a `dict` type
but when i use `xclaim` i get a type same as redis-native --get a `list` type,
so do you solve it ?

[2018-07-31 15:19] NoneGG commented on #87
@creotiv
Thank you for your advice~
The api is ported from redis-py and i think this is more friendly for users(since `amount` is 1 in most part of scene)

[2018-07-31 15:25] NoneGG commented on #88
@BlingBlingdevelopers
Thank you for your advice firstly~
Since `XCLAIM` command is not released officially (i can only find it in [streams-intro](https://redis.io/topics/streams-intro) instead of commands manual), i am not so sure whether the api is stable yet. And the response parser is not stable yet. I will think about your advice

[2018-08-01 09:03] BlingBlingdevelopers commented on #88
Ok, I am too anxious, haha.

[2018-08-01 10:58] #88 closed

[2018-08-04 16:11] NoneGG commented on #87
This issue is closed now, feel free to open it again if you still have the problem~

[2018-08-04 16:11] #87 closed

[2018-08-11 13:12] #85 closed

[2018-08-11 13:12] NoneGG commented on #75
v1.1.3 is released~

[2018-08-11 13:12] #75 closed

[2018-08-23 06:52] ycraaron opened #90 "Is StrictRedis retry behaviour as expected?"
## Checklist

- Python version
   3.6
- Using hiredis or just Python parser
   Python parser
- Using uvloop or just asyncio event loop
   Asyncio
- Does issue exists against the `master` branch of aredis?
   Yes

## Steps to reproduce
https://github.com/NoneGG/aredis/blob/395ce420a5b477dfb51aa632c15912a1111f40ea/aredis/client.py#L156-L161
During debugging another issue, I find that the logic here

[2018-08-23 07:53] ycraaron commented on #90
Guess this is inherited from redis-py, will create an issue there. https://github.com/andymccurdy/redis-py/issues/1022

[2018-08-24 10:05] khangnguyen opened #92 "Exception when scan_iter() with StrictRedisCluster"
## Checklist

- Python version
3.6
- Using hiredis or just Python parser
Python parser
- Using uvloop or just asyncio event loop
Asyncio
- Does issue exists against the `master` branch of aredis?
Yes

## Steps to reproduce
In this sample, scan_iter with StrictRedisCluster would raise exception
[code]

## Expected behavior
Redis keys are iterated and returned

## Actual behavior
[code]

[2018-08-25 05:36] NoneGG commented on #90
@ycraaron
Thank you for the detailed issue and pull request~

In this part, on encountering these two kinds of errors(`ConnectionError` & `TimeoutError`), only `TimeoutError` with `retry_on_timeout` set to False will not be retried, and it should be retried in other conditions.

So i think retry mechanism works as expected

[2018-08-25 05:51] NoneGG commented on #92
@khangnguyen Thank you for your bug report, it actually runs wrongly in cluster mode, will be fix soon

[2018-08-25 09:26] ycraaron commented on #90
I see, seems that the expected behavior is to retry for every connection error, but for timeout error, only retry when the user wants to. Then the logic is good.
Currently, we are using our own retry logic since we want to retry more than 1 time, it would be nice if the connection also allows setting a maximum retry count.

[2018-08-25 09:26] #90 closed

[2018-08-25 13:53] NoneGG commented on #90
@ycraaron
Actually `ConnectionError` or `TimeoutError` is not caught in retry part of the try-catch sentence. It will be raised if there is a network problem and commands are failed to send again. You can catch it in outer layer and make your retry.

[2018-08-25 15:35] ycraaron commented on #90
@NoneGG Yes, exactly. Thanks a lot!

[2018-08-28 19:04] TheKevJames opened #93 "`parse_cluster_nodes` may fail for redis 4.0 and above"
I just opened [this ticket](https://github.com/antirez/redis/issues/5293) on `redis`, which describes a doc error in Redis for 4.0.0 and greater -- the `CLUSTER NODES` command output should actually be documented as containing `<ip:port@cport>` rather than `<ip:port>`. The new cluster port field seems to be a mandatory field as of Redis 4.0.0.

This causes [this line](https://github.com/NoneGG/are

[2018-08-29 05:32] NoneGG commented on #93
@TheKevJames Thanks ~ This will be fixed soon.

[2018-09-02 14:05] NoneGG commented on #92
@khangnguyen fixed~ You can fetch code from master branch and test with your code

[2018-09-03 10:42] NoneGG commented on #92
@khangnguyen
This issue is closed now, feel free to open it again if there are related problems~
Thank you for your bug report again~

[2018-09-03 10:42] #92 closed

[2018-10-11 15:17] stj opened #99 "[Feature Request] Support socket keepalive options"
5 years ago redis-py added support for keepalive options on the socket connection to redis [1].
I like to use those in aredis as well. If an interest exist to add those to aredis I am willing to write a PR for it.

[1] https://github.com/andymccurdy/redis-py/commit/465e74dce8c30263f48f522a1def89e0a4b20d00

[2018-10-12 11:09] NoneGG commented on #99
@stj Thanks, this feature request seems to be reasonable, it will be appreciate if you can write a pr for it~

[2018-10-13 04:28] #99 closed

[2018-12-06 13:01] vineetgoel opened #101 "Read only cluster connection support"
Not sure if this already exists but I could not find support for cluster connections where I can enable requests to go to the replica nodes. This is available in the synchronous client as documented here: https://redis-py-cluster.readthedocs.io/en/master/readonly-mode.html

Wondering if there are plans for adding support for a readonly mode.

[2018-12-08 06:55] NoneGG commented on #101
@vineetgoel This is also one of the features planted from redis-py-cluster(gratitude for the great work of Grokzen )
You can use it by adding `readonly=True` when initialize an instance of `StrictRedisCluster`

[2018-12-25 15:46] khangnguyen opened #102 "TSL connection to AWS redis cluster"
## Checklist

- Python version
3.6.7
- Using hiredis or just Python parser
Both
- Using uvloop or just asyncio event loop
Asyncio
- Does issue exists against the `master` branch of aredis?
Yes

## Steps to reproduce
[code]
## Expected behavior
[code]
## Actual behavior
[code]

[2019-02-04 11:47] bjowi opened #105 "xinfo stream breaks on empty stream"
## Checklist

- 3.6.7
- python parser
- asyncio loop
- on Does issue exists against the `master` branch of aredis?

## Steps to reproduce
[code]

## Expected behavior
info returned
## Actual behavior
[code]

[2019-02-08 18:02] barbieri opened #106 "PubSubWorkerThread._run() fails if stream_timeout is used"
If you use `stream_timeout=1`, the `PubSubWorkerThread` will fail with `TimeoutError` exception, since the `pubsub.get_message()` internally uses `parse_response(block=False, timeout=0)` (since 0 is the default timeout value, and we can't explicitly pass one), which ends using the `stream_timeout=1`.

I see two ways of solving this:
1.  `try-except TimeoutError: pass` around `pubsub.get_message()`

[2019-02-09 16:34] NoneGG commented on #105
@bjowi I check the change in your pull request, could you please make the pull request to this repository?

[2019-02-09 16:40] NoneGG commented on #106
@barbieri I think the second way may be better~

[2019-02-11 09:42] bjowi commented on #105
Better now?

[2019-02-13 02:39] #105 closed

[2019-02-13 02:39] NoneGG commented on #105
This issue is closed now and the pr is merged~ Thanks

[2019-02-14 02:46] #106 closed

[2019-02-18 15:09] Swizz opened #109 "Expected release"
Hi,

We are planning to use `scan_iter` from `ClusterIterCommandMixin` in production.
Any chance to get the master branche released sooner or later ?

Thanks for your work.

Cheers,

[2019-02-25 17:21] NoneGG commented on #109
@Swizz
Sure, new version will be released this week~

[2019-03-02 13:56] NoneGG commented on #109
@Swizz V1.1.4 is uploaded to pypi~

[2019-03-02 13:56] #109 closed

[2019-05-07 03:17] pytomtoto opened #110 "How to use as few connections as possible in redis cluster"
## Checklist

- Python version python3.7
- Using hiredis or just Python parser
- Using uvloop or just asyncio event loop
- Does issue exists against the `master` branch of aredis?

## Steps to reproduce

## Expected behavior

## Actual behavior
- It is appreciated if error log can be provided

This question has really been bothering me
And I tried to set the connections-config of redis-cluster-ser

[2019-05-08 01:56] pytomtoto commented on #110
[code]

[2019-05-11 13:06] NoneGG commented on #110
@pytomtoto

[2019-05-11 13:11] NoneGG commented on #110
@pytomtoto
Hello，could you share the connection pool between threads in your scene? Create a single instance and share it the process instead of create redis client when it is used. (Even client is destroyed by GC, tcp resource will not release immediately for the case of timewait)

[2019-05-11 13:13] #101 closed

[2019-05-11 13:29] pytomtoto commented on #110
yeh I used a single instance when I saw the connection release code.
I not found the release of the connection.
the connections is closed until restart the program .
I think it's okay for connections to scale within the maximum value and release connections when they're idle, just like database connection pools.

[2019-05-11 13:33] pytomtoto commented on #110
I'll try to provide a validation code

[2019-05-11 13:41] NoneGG commented on #110
That seems to be reasonable, i will see if it could be supported in client

[2019-05-11 13:45] NoneGG commented on #110
But if the connections are always idle(or max idle time is useless), maybe there are too many connections created than needed, or short connection mode should be used (close after used)

[2019-05-11 13:48] pytomtoto commented on #110
could i set the Max-value of Connection in Short Connection Mode？

[2019-05-11 13:51] NoneGG commented on #110
The short connection mode is just create client every place you use it and call `disconnect` method of connection pool in gc stage. The cost is the time to build the connections.

[2019-05-11 13:53] NoneGG commented on #110
@pytomtoto I think the trade off depends on your scene, could you please simply describe your business model or scene?

[2019-05-11 13:56] pytomtoto commented on #110
It's a simple website project.
I  create aredis instances when the project starts.
When the user accesses, the project goes to redis cluster to query the data

[2019-05-11 14:04] NoneGG commented on #110
In this kind of scene, I think it is not the problem of code, since there is only one connection pool in one process with max-connection number set. I think the scale of redis cluster should be scaled up so that each instance could handle fewer connections (unless hot-key problems)

[2019-05-11 14:11] pytomtoto commented on #110
yep
i have 6 nodes of redis cluster (3 master 3 slave)，That's enough.
The problem I find is that programs always want to create new connections, not reuse them.

[2019-05-11 14:32] NoneGG commented on #110
Connection pool will always try to create connection if there are no idle connection, if the number of connection in pool is larger than max-connection-num given, `Too many connections` error will be raised, you can block and retry if you don't want to create a new connection. If this error is not raised, then client will think there are still resources( unless redis server raises error) and conti

[2019-05-11 14:35] pytomtoto commented on #110
It can be determined that the idle established connection is not released, so the maximum connection occurs.

[2019-05-11 14:37] NoneGG commented on #110
So what you mean is that the pool still want to create new connection even there are connections idle?

[2019-05-11 14:39] pytomtoto commented on #110
yes
I mean that the idle connection is not released, and the connection pool wants to create new connections so that the maximum connection can be reached.

[2019-05-11 14:43] NoneGG commented on #110
Could you add log for `_available_connections` of connection pool to see if new connection is created if `_available_connections` is not empty? This is a bug if what you say is true.

[2019-05-11 14:45] pytomtoto commented on #110
okey i will add the log print

[2019-05-11 16:51] pytomtoto commented on #110
just the conn pool not  reduce
[code]

[2019-05-12 13:12] NoneGG commented on #110
The app seems to work as expected, commands should go to node "192.168.159.130:7002" and it create connections for requests sent at 00:45:05 and then these connections become idle. When new requests come, these connections are reused (log at 00:45:11). So we can come to a preliminary conclusion that it is not a bug.

The point is that you want it to work in long connection mode but wish it to rele

[2019-05-12 13:16] pytomtoto commented on #110
Well, at least we've come to an agreement.

Connection pools can be reused, but only expanded and not reduced

[2019-05-12 13:48] NoneGG commented on #110
@pytomtoto The max idle time is a reasonable requirement, i will try to realize that. Just leave this issue open.

[2019-06-02 08:01] NoneGG commented on #110
@pytomtoto max idle check is supported now~ You can test it in your app by cmd

[2019-06-02 10:01] pytomtoto commented on #110
ok

[2019-06-02 12:33] #110 closed

[2019-06-07 20:00] ssatia opened #112 "Release new version for max_idle_time"
Hello, we encountered an issue similar to https://github.com/NoneGG/aredis/issues/110, and would like to use the `max_idle_time` parameter. I was wondering when we could cut a release with this feature?

[2019-06-09 05:01] NoneGG commented on #112
@ssatia v1.1.5 is released~ Looking forward to your feedback

[2019-06-09 05:01] #112 closed

[2019-06-12 17:45] Shir0kamii opened #113 "Connection problems with XREADGROUP"
## Checklist

- Python version: 3.6
- Using hiredis or just Python parser: python parser
- Using uvloop or just asyncio event loop: asyncio
- Does issue exists against the `master` branch of aredis? yes

## Steps to reproduce

Connect to a Redis cluster and try to make XREADGROUP commands

## Expected behavior

Returns messages from the stream

## Actual behavior

First, I was bothered by "TTL exh

[2019-06-13 15:16] NoneGG commented on #113
@Shir0kamii I try to reproduce the problem in my dev env(just use redis cluster in docker) but failed, and i found the same issue raised in redis-py-cluster [issue](https://github.com/Grokzen/redis-py-cluster/issues/301)
That may help.

[2019-06-27 11:12] harefield opened #114 "couldn't run aredis with tornado multi-process patterns"
## Checklist

- Python version
   3.6
- Using hiredis or just Python parser
   hiredis
- Using uvloop or just asyncio event loop
  asyncio
- Does issue exists against the `master` branch of aredis?
  no
## Steps to reproduce
     run tornado with  multi-process patterns
## Expected behavior
     to set and get the value from redis by key with await
## Actual behavior
- It is appreciated if error l

[2019-07-03 19:55] szelenka commented on #113
I've come across similar problems occasionallyL
[code]

I haven't been able to figure out what would cause a None to be returned from the stream, any thoughts?

[2019-07-12 12:57] NoneGG commented on #114
@harefield

[2019-07-12 13:02] NoneGG commented on #114
@harefield
I try the case you posted, it works in my dev env. I am not sure, may it be problem of other issues?
![image](https://user-images.githubusercontent.com/22073484/61129953-29132800-a4e8-11e9-8b1f-2475382441f3.png)

![image](https://user-images.githubusercontent.com/22073484/61129941-2284b080-a4e8-11e9-9ee2-cd1bc11b5705.png)

[2019-07-12 13:04] NoneGG commented on #113
@szelenka It seems to be a different issue, i think your feature request is reasonable, i will see if there is anything i can do

[2019-07-12 13:05] NoneGG opened #115 "parsing empty payload of stream message"
I've come across similar problems occasionallyL
[code]

It seems to happen when there's a "(nil)" payload for a given event:
[code]

This seems to happen when an XDEL occurs on a message, but that same message was never XACK. It'd be nice to return an empty dict() in those cases, so the client can clear it from the list but still process the other events pending.

_Originally posted by @szelenka i

[2019-07-12 15:46] #115 closed

[2019-07-12 15:47] NoneGG commented on #113
@szelenka Fixed, please see if this will help

[2019-07-12 21:17] amatai opened #117 "StrictRedisCluster.from_url ignores skip_full_coverage_check flag"
## Checklist

- Python version
  3.x
- Using hiredis or just Python parser
  hiredis - but doesn't matter.
- Using uvloop or just asyncio event loop
  asyncio
- Does issue exists against the `master` branch of aredis?
   Yes.

## Steps to reproduce
[code]

## Expected behavior
Should not call `CONFIG GET`

## Actual behavior
[code]

[2019-07-14 10:55] #117 closed

[2019-07-14 10:56] #102 closed

[2019-08-09 09:18] eirikur-grid opened #119 "Use of threading.local in lock.py can cause token leakage"
The use of `threading.local()`in lock.py appears to have been ported directly from redis-py over to this project. As far as I can tell, this can lead to tokens leaking between asynchronous tasks executed within the same event loop (i.e. on the same thread).

Let's consider the following scenario:
 - Task A successfully acquires a lock using token `a` and a timeout of 3 seconds
 - Task B requests t

[2019-08-12 15:25] NoneGG commented on #119
@eirikur-grid Thanks for bug report, i will check it and give my feedback as soon as possible.

[2019-08-12 16:11] NoneGG commented on #119
@eirikur-grid I am afraid you are right, different coroutines share the same thread, which will break the safety of thread local mechanism. In Python 3.7 i can use contextvars to fix this, i will see if there is a good solution in Python 3.6

[2019-08-12 16:21] NoneGG commented on #119
@eirikur-grid
I found a backport of `contextvars` for 3.5/3.6[package](https://pypi.org/project/contextvars/), this bug will be fixed soon, thanks again for bug report

[2019-08-18 05:36] NoneGG commented on #119
Just to be additional, I try to reproduce the scene you described and find out that the problem will only take place when one clock is shared between multiple coroutine just like:
[code]
If i initialize another lock instance with the same key, there will be a new threading_local object and `lock.local.token` will not be covered.

However, i can not limit user the way they use the lock, i will fix

[2019-08-18 11:36] NoneGG commented on #119
@eirikur-grid The fix is finished, would you like to see it ? It will be merged If there is no other problem :-)

[2019-08-21 15:12] #119 closed

[2019-08-21 15:12] NoneGG commented on #119
@eirikur-grid Merged, thanks again for bug report~

[2019-08-22 09:35] eirikur-grid commented on #119
Sorry for the late reply. I somehow missed the e-mail notification. I'll take a post-merge look and attempt to verify the fix.

[2019-08-24 03:26] NoneGG commented on #114
Feel free to open the issue again if there are further problems~

[2019-08-24 03:26] #114 closed

[2019-08-24 03:26] #113 closed

[2019-08-26 12:43] eirikur-grid commented on #119
@NoneGG I have verified that the fix works as intended. However, I noticed that the newly added test is failing. See: https://github.com/NoneGG/aredis/pull/120/files#r317581785

[2019-12-02 23:05] psidex opened #122 "Python 3.8 pip install error: "cannot import name 'CancelledError'""
## Checklist

- Python version 3.8
- Does issue exists against the `master` branch of aredis? Yes

## Steps to reproduce

`pip install aredis`

## Expected behavior

It installs

## Actual behavior

[code]

[2019-12-05 08:44] NoneGG commented on #122
@psidex This bug is fixed in issue #121
Doesn't that change take effect?

[2019-12-05 18:50] psidex commented on #122
The latest version on [pypi](https://pypi.org/project/aredis/) is `1.1.5` which does not contain that fix.

Is it possible for you to push the update onto there?

[2019-12-06 04:31] NoneGG commented on #122
Sure, new version will be released this week

[2019-12-07 17:37] NoneGG commented on #122
@psidex release 1.1.6 is public, i will leave this issue open (there may be some other implicit problems i am afraid of) Please try and if there is any problem, let me know and i will fix it as soon as possible~

[2019-12-07 20:51] psidex commented on #122
Awesome, thanks 👍

[2019-12-10 16:13] AdmiralNemo opened #126 "ModuleNotFoundError installing 1.1.6 on Python 3.6"
When attempting to install _aredis_ 1.1.6 in a Python 3.6 environment, a `ModuleNotFoundError` is raised:

[code]

[code]

I think this is happening because the `setup.py` script attempts to import the `aredis` package (to get the version number) before installing any dependencies.

[2019-12-11 17:10] NoneGG commented on #126
@AdmiralNemo Thank you for your bug report~ The bug is fixed and version 1.1.7 is released.(considering `VERSION` may be relied on, i have to maintain the version num in two files now)

[2019-12-14 16:04] #126 closed

[2019-12-21 05:23] liuzhuoling2011 opened #128 "[Help Wanted] Want to use aredis pubsub in tornado, but I can't find related docs"
## Checklist

- Python version 3.7.3
- Using Python parser
- Using just asyncio event loop
- Does issue exists against the `master` branch of aredis? Yes

## Expected behavior
Want to use aredis pubsub in tornado(websocket), but I can't find related docs
Could you show me a demo?  Thanks

[2019-12-22 07:52] NoneGG commented on #128
@liuzhuoling2011

[2019-12-23 02:50] liuzhuoling2011 commented on #128
It works, thanks~

[2019-12-23 06:48] liuzhuoling2011 opened #129 "[Help Wanted] Pubsub occasionally crash problem"
## Checklist

- Python version 3.7.3
- Using just Python parser
- Using just asyncio event loop
- Does issue exists against the `master` branch of aredis? Yes

## Steps to reproduce
My project subscribe 4 channels to recieve signals, aredis works perfectly at most of the time, but occasionally it will cause system crash

## Expected behavior
Never crash

## Actual behavior
Below is my pseudo codes

[2019-12-23 18:59] rubik opened #130 "Supported Python versions"
The documentation states that only Python 3.5 and 3.6 are officially supported, and Python 3.7-dev is experimental. However, I saw another issue reporting a Python 3.8 installation problem that was fixed.

So my question is, are Python 3.7 and 3.8 supported?

[2019-12-26 02:43] NoneGG commented on #130
@rubik Python3.7 and 3.8 are supported now

[2019-12-26 02:45] NoneGG commented on #129
@liuzhuoling2011 With which release of redis server are you using?

[2019-12-26 05:35] liuzhuoling2011 commented on #129
redis_version: 3.2.6
redis_mode: standalone
os: Linux 4.9.0-6-amd64 x86_64
arch_bits: 64
multiplexing_api: epoll
gcc_version: 6.2.1

[2019-12-27 15:30] #130 closed

[2019-12-27 16:40] NoneGG commented on #129
@liuzhuoling2011 I try to reproduce your scene bu failed.

* problem:
It seems like your redis-server send back 'OK' and there is something wrong with reponse parsing (message type is at head of reponse usually) or redis (maybe it doesn't send back message type)

* advice:
try hiredis instead of raw python parser to see if this problem can be reproduce
(actually the socket buffer processing can al

[2019-12-30 03:17] liuzhuoling2011 commented on #129
Thanks for your advice, I will try and return the feedback

[2020-01-07 02:36] NoneGG commented on #129
@liuzhuoling2011 Does that problem happen again?

[2020-01-07 02:41] liuzhuoling2011 commented on #129
Currently not happen, Thx

[2020-01-07 02:41] #129 closed

[2020-01-13 21:48] bsergean commented on #122
FYI I was able to install the module on python 3.8.0 on my mac.

[code]

[2020-01-21 02:04] bsergean opened #133 "In redis cluster mode, XREAD command does not function properly"
## Checklist

- Python version: 3.8.1
- Using hiredis
- Using asyncio event loop
- Does issue exists against the `master` branch of aredis? / Yes

## Steps to reproduce

Type an XREAD command and watch the command terminate with a TTL error.

## Problem

The key used to compute the redis cluster node slot is extracted from the wrong argument (arg 1). The problem is in the _determine_slot client me

[2020-01-22 02:00] bsergean opened #135 "XREAD command should accept 0 as a block argument"
## Checklist

- Python 3.8.1
- Using hiredis
- Using asyncio event loop
- Issue exists in master

## Steps to reproduce

Calling this:
[code]

triggers this error:

`raise RedisError("XREAD block must be a positive integer")`

## Expected results

The command should not fail. The redis stream documentation uses 0 as a block parameter in its examples, in the stream intro section -> https://redis.io

[2020-01-22 04:23] bsergean opened #137 "When cancelling a task, CancelledError exception is not propagated to client code"
## Checklist

- Python version 3.8.1
- Using hiredis parser
- Using asyncio event loop
- Issue does exists against the `master` branch of aredis

## Steps to reproduce

Run a blocking command in an asyncio task (created with asyncio.create_task or ensure_future, such as xread, and try to cancel that task.

## Expected behavior

asyncio.CancelledError is propagated to client code, so that cleanup o

[2020-02-16 16:37] #133 closed

[2020-02-16 16:40] #135 closed

[2020-02-18 03:43] #137 closed

[2020-02-18 06:21] liuzhuoling2011 commented on #128
Want to call aredis subscribe function when tornado server start, something like this:
[code]
Could you give me an elegant example? Thx

[2020-02-18 13:46] NoneGG commented on #128
@liuzhuoling2011 I am not sure about your requirement, it seems like you want to make a while loop after tornado server started? It may be better to run it in another thread / process

[2020-02-19 02:11] liuzhuoling2011 commented on #128
@NoneGG We have some bussiness data continuously published to redis, and we want to use tornado websocket push these data to the web ui. For better performance, we want redis subscribe and tornado working in a same thread

[2020-02-21 02:47] NoneGG commented on #128
@liuzhuoling2011 May this [example](https://github.com/shafayeatsumit/tornado-redis-pubsub-example) be helpful, check if it is suitable for your scene~

[2020-02-26 10:10] olii opened #139 "Questionable implementation of disconnect on idle"
I have a question about the implementation of this method:
https://github.com/NoneGG/aredis/blob/bea279b7d436242b221f7e9aabb13f1484ec261c/aredis/pool.py#L183-L191

When I need to terminate the application and empty the event loop I need to wait until all the connections get disconnected because of the idle timeout. Is there a way to force the connections to exit early so I don't have to wait for t

[2020-02-26 10:19] olii opened #140 ""ValueError: list.remove(x): x not in list" logged during runtime"
## Checklist

- Python version 3.8
- hiredis
- asyncio event loop
- Does issue exists against the `master` branch of aredis? Tested with latest release 1.1.7

## Steps to reproduce
1. Connect to redis sentinel and set the `max_idle_time` as connection kwarg.
2. Get the master from sentinel.
3. Use master instance.

## Expected behavior
No exception is raised.

## Actual behavior
[code]

[2020-02-27 13:58] olii opened #141 "Python 3.8 raises AttributeError on timeout"
## Checklist

- Python version 3.8
- hiredis
- just asyncio event loop
- Does issue exists against the `master` branch of aredis? YES

## Steps to reproduce
Run sentinel and at least 2 slaves. During runtime kill the master and let the sentinel vote for new slave. Run some redis calls e.g. `set` or `ping`.

## Expected behavior
During the time the master is down and new master is not voted all the

[2020-02-28 19:52] bsergean opened #142 "New release ?"
Hey @NoneGG are you planning on making a new release soon?
(so I can try to use the version with my bug fixes)
Thanks !

[2020-02-29 14:35] NoneGG commented on #139
@olii Is it `max_idle_time` stil needed in your scene? Actually this is used for cleaning too many useless connections.

[2020-02-29 14:42] NoneGG commented on #140
@olii Thank you for bug report, it seems like connection is disconnected before, i will add check on `available_connections` to avoid this error being raised again.

[2020-02-29 14:47] NoneGG commented on #141
@olii Thank you for bug report, actually there was similar bug(`asyncio.CancelledError`) will be fixed soon

[2020-02-29 14:49] NoneGG commented on #142
@bsergean Sure, i will fix some bugs raised in issue #140 & #141 . New release will be public in two days.

[2020-02-29 18:00] olii commented on #139
You are right. It is a service that spawns tasks to do some jobs with Redis. As a service, it should be running for a long time. When there are N tasks created at once there is a high probability that N connections will be created. This behavior was not clear from the docs.  In my case, there might be a peak when 1500 tasks/second are created but on average it is about 800/s. For a long period of

[2020-03-01 02:59] NoneGG commented on #139
@olii Your requirement is reasonable.
Actually the point is to clean useless coroutine (`disconnect_on_idle_time_exceeded`), these coroutine will wait until `max_idle_time` is reached. I will check if there is a better choice to do this.

[2020-03-01 16:12] #140 closed

[2020-03-01 16:14] NoneGG commented on #140
Feel free to reopen this issue if the problem is not solved~

[2020-03-01 16:14] NoneGG commented on #141
Feel free to reopen this issue if the problem is not solved~

[2020-03-01 16:14] #141 closed

[2020-03-01 16:32] NoneGG commented on #142
@bsergean Release v1.1.8 is public now, just try it~

[2020-03-01 16:32] #142 closed

[2020-03-01 16:32] #122 closed

[2020-03-01 17:15] bsergean commented on #142
Thanks !

[2020-03-19 09:47] dmbasso opened #145 "pubsub.get_message timeout vs disconnection"
Both cases (timeout and disconnection) make `pubsub.get_message` return `None`, making it difficult to discriminate between them. For instance, I have the following code:

[code]

Instead, we could use a sentinel to indicate a timeout happened:

[code]

Having the default value of `timeout_sentinel` to be `None` would maintain backwards compatibility.

@NoneGG what do you think? If you like the id

[2020-03-21 14:12] NoneGG commented on #145
@dmbasso Maybe we can just raise the timeout/disconnected error when it happens? (we can offer an option to descide whether the error can be raised when client is initialized)

[2020-03-21 14:21] dmbasso commented on #145
Yes, that would work too. Please tell me if you need any help implementing this feature.

[2020-03-21 14:48] NoneGG commented on #145
@dmbasso I read related code again and found both `ConnectionError` and `TimeoutError` get proceeded in `pubsub._execute`, is it necessary for uplayer to know these things?

[2020-03-21 15:04] dmbasso commented on #145
By "uplayer" do you mean the function that calls `pubsub.get_message`? In my case, I just need to know that a timeout happened, and I consider `CancelledError` and `ConnectionError` as the end of a session (so no need to distinguish between those). Probably the best would be to raise all of them, and let the uplayer deal with it. Especially the `CancelledError`, since it means the coroutine should

[2020-03-23 06:01] NoneGG commented on #145
@dmbasso Maybe we can offer an option for user to descide if these error should be raised?

[2020-03-23 06:48] dmbasso commented on #145
@NoneGG Sounds good to me.

[2020-04-15 21:19] ter74 opened #146 "socket timeout"
Hi,

We were interested in using aredis - in your docs you state that it's imported from redis-py. Do you plan to support a socket_timeout parameter similar to redis-py?

[2020-05-06 16:12] NoneGG commented on #146
@ter74 There is a parameter named as `stream_timeout`, which has the same effect

[2020-05-06 16:12] #146 closed

[2020-05-21 22:10] sileht opened #149 "redis command get executed twice"
## Checklist

- Python version: 3.7
- Using hiredis
- Using uvloop
- Does issue exists against the `master` branch of aredis? yes

## Steps to reproduce

The symptom was a redis pipeline executed twice successfully in row while in run `pipeline.execute()` only one time.

My pipeline was executed here : https://github.com/NoneGG/aredis/blob/aecfafd06aa1a08d81538cd9ed2e11fc119bfb16/aredis/pipeline.p

[2020-05-23 17:50] NoneGG commented on #149
Sounds reasonable, i will check and fix it soon, thanks a lot~

[2020-05-23 17:52] #128 closed

[2020-05-27 02:10] zsyh commented on #146
but why don't use the same name?

[2020-06-12 10:56] eoghanmurray opened #152 "CLUSTER SLOTS may report inaccessible IP addresses"
Problem: Starting aredis against a cluster which is accessible using an external IP address, but uses internal IP addresses results in all commands hanging.
This is unexpected as e.g. `redis-cli` or the non-async Python `redis` library succeed in this case.

Problem is in nodemanager.py::initialize

E.g. with '98.108.0.203' being the external ip address of a node in the cluster:

[code]
[code]

In

[2020-06-12 10:58] eoghanmurray commented on #152
(In earlier debugging I also couldn't find a timeout parameter that I could supply in order to produce a stack trace to figure out where the hanging was happening)

[2020-06-23 18:00] jimxie-robinhood opened #153 "StrictRedisCluster pipeline questions."
I'm wondering why does the StrictRedisCluster.pipeline not return anything when transaction = True?

## Steps to reproduce
Using StrictRedisCluster.pipeline(transaction = True)
## Expected behavior
pipeline.execute returns a list of responses
## Actual behavior
pipeline.execute returns None. seems like the function returns nothing when transaction = True. Why is this the case?
- It is appreciated

[2020-07-06 04:52] newbie-c opened #156 "Invalid version number"
Hello, everyone...

I got this trouble with aredis today:

    $ python
    Python 3.8.4rc1 (default, Jul  1 2020, 15:31:45)
    [GCC 9.3.0] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/home/avm/workspace/aioauriz/venv/lib/python3.8/site-packages/aredis/__init__.py"

[2020-07-22 16:20] eoghanmurray commented on #152
If there was a possibility of a remapping config, there's a few other instances of calls to `cluster_nodes` that would have to get the same treatment, e.g. https://github.com/NoneGG/aredis/blob/master/aredis/commands/iter.py#L84

[2020-08-08 23:10] hyusetiawan opened #158 "unable to receive binary data in subscribe on pubsub"
## Checklist

- Python version
3.8.5
- Using hiredis or just Python parser
StrictRedis?
- Using uvloop or just asyncio event loop
uvicorn?
- Does issue exists against the `master` branch of aredis?
not sure
## Steps to reproduce
unable to publish a binary data, ex:
`redis.publish(channel_name, pickle.dumps(someobject))`
upon `await pubsub.get_message()`
the data received is an integer `1`

## Expe

[2020-08-09 00:38] hyusetiawan commented on #158
I think during initial subscription msg['data'] = 1 is emitted every time? is this a known behavior?

[2020-08-15 07:49] Fogapod opened #163 "Suggestion: run CI tests on pull requests"
Currently tests only run on commits which can lead to bad code getting into master by accident.

By the way, have you considered switching from CircleCI to native GitHub Actions?
Not sure about CircleCI, but with GitHub Actions you can run tests on PRs, commits and even deploy new versions on PyPi automatically when new release is published.
I could work on that.

[2020-08-15 07:53] Fogapod opened #164 "Suggestions: use linters"
This suggestion is a follow-up for #163

I don't see any linter configurations in repository, also no code linting happens in CI.
There are a few issues here and there like invalid spacing, line length etc.
Some linters that could be used are:
* flake8
* mypy (will require type hinting library)

I could work on this one.

[2020-08-15 07:58] Fogapod opened #165 "Suggestion: use automatic code formatters"
This is a follow-up for #164

Code formatting takes time, different developers have their own vision of formatting. This may result in inconsistent code if you don't pay close attention to every code change.

Some widely used formatting tools are:
* black
* isort

These should be added to CI if used.
What do you think?

I could work on this one.

[2020-08-15 09:48] Fogapod opened #166 "Suggestion: track test coverage"
This is a follow-up for #165

It is very useful to know which parts of code are covered by tests.
Since aredis uses pytest, `pytest-cov` will work.

[2020-08-15 10:51] Fogapod opened #167 "Bad connections pool implemetation"
I've found multiple problems with current pool implementation:

* Pool is blocking.
There is no async initialization which leads to next problems,
* There is no way to set minimum number of connections that are created at pool initialization.
* Instead of asyncronously blocking until connection is available, pool will raise exception:
https://github.com/NoneGG/aredis/blob/cec3cdabe67f45493ac413737

[2020-08-20 17:08] machineandme commented on #167
Thats affects me, too. Thats really disappoint.

[2020-08-20 17:11] Fogapod commented on #167
I emailed @NoneGG asking about a possibility of releasing 2.0.0 with a few breaking changes addressing pool implementation and other issues

[2020-08-26 01:05] mjwestcott opened #169 "Suppression of CancelledError on Python 3.7"
In Python 3.7, `asyncio.CancelledError` is a subclass of `Exception`.

https://github.com/NoneGG/aredis/blob/master/aredis/connection.py#L416

The above code (in the master branch) therefore catches `CancelledError` and raises a different exception. This is a problem for users that expect cancelled code to raise `CancelledError` in order to handle it appropriately.

In Python 3.8, `CancelledError`

[2020-08-26 01:07] mjwestcott commented on #149
@NoneGG I've also run into this exact problem

[2020-08-26 01:14] mjwestcott commented on #169
Possible fix: https://github.com/NoneGG/aredis/pull/170

[2020-08-26 03:43] ducminhgd commented on #167
May I know when version 2.0.0 is released?

[2020-08-26 08:33] Fogapod commented on #167
I haven't got a response from maintainer yet, there haven't been any work on 2.0.0 so far.

[2020-08-26 09:33] mjwestcott commented on #167
Thanks for your efforts @Fogapod. I think there will be many new users here, since [aioredis](https://github.com/aio-libs/aioredis) seems to have been abandoned. Let's hope this project can become a good replacement.

[2020-08-26 15:04] mjwestcott opened #171 "Connection not disconnected when cancelled"
## Checklist

- Python 3.7 and 3.8
- Using hiredis
- Using uvloop
- Exists on master

## Steps to reproduce

I found unexpected errors in 'flaky' CI integration tests (e.g. [here](https://github.com/mjwestcott/runnel/pull/3/checks?check_run_id=1030506053#step:8:206))

The problem is that the `response` [here](https://github.com/NoneGG/aredis/blob/master/aredis/pipeline.py#L181) is for example `b'O

[2020-08-26 15:10] mjwestcott commented on #171
Sorry for the lack of small reproducible example, it's quite a deep bug.

I've tested https://github.com/NoneGG/aredis/pull/172 locally against my project's integration test suite and it seems to solve the problem.

[2020-09-15 12:53] Tinche opened #173 "Transaction example doesn't work with StrictRedisCluster"
## Checklist

- Python version: 3.8
- Using hiredis or just Python parser: hiredis
- Using uvloop or just asyncio event loop: uvloop
- Does issue exists against the `master` branch of aredis? yes

## Steps to reproduce

I'm initializing a `StrictRedisCluster` against an AWS ElastiCache Redis cluster, using `skip_full_coverage_check` and `decode_responses`.

When I run the example:
[code]

`current

[2020-09-15 13:54] Tinche commented on #173
It seems calling `pipe.watch` does nothing except log a warning ('Call WATCH from a Pipeline object'), so I'm not sure how to proceed.

[2020-10-13 17:49] drgarcia1986 commented on #167
@Fogapod Aren't responses from the maintainer yet?
I really want to use `aredis` on my big projects.

[2020-10-14 07:00] Fogapod commented on #167
@drgarcia1986 unfortunately, no. And I don't think I have time to work on aredis at this point.

[2020-10-14 12:56] drgarcia1986 commented on #167
@Fogapod maybe if @NoneGG add more maintainers, we can work together to fix bugs and rethink the connection pool design

[2020-10-19 04:05] #156 closed

[2020-10-29 15:24] sam-mosleh opened #175 "[Feature Request] Support for keepttl option"
Redis added KEEPTTL option for SET command in version 6.0-rc1: [SET command](https://redis.io/commands/set)
I'd like to use it in aredis and I'm willing to create a PR for it.

[2020-11-19 14:54] eoghanmurray opened #177 "MGET and MSET not being used against redis-cluster"
Placeholder issue as requested in the pull request help text!

[2020-11-30 20:11] Le0Developer opened #179 "redis-py's hset accepts a mapping, aredis does not"
[redis-py's hset](https://redis-py.readthedocs.io/en/stable/#redis.Redis.hset) accepts mapping argument which allows setting multiple arguments at once ([hset supports it](https://redis.io/commands/hset)).

[aredis's hset](https://github.com/NoneGG/aredis/blob/master/aredis/commands/hash.py#L64) does currently not have support for it.

This can be solved my replacing the function with this (copy p

[2020-12-25 09:05] abersheeran opened #180 "Any new version release?"
I encountered a problem that #162 has solved, but PyPi has no version to release it? I noticed that no new version has been released for half a year? How soon will you release the version? @NoneGG

[2020-12-29 17:40] kamadorueda commented on #167
We just hit this in production too:

https://gitlab.com/fluidattacks/product/-/issues/3874

I'm willing to contribute a patch, but I'll need a hand with the desired interface/implementation, at least a skeleton or a few words. This in order to keep the library useful to the most people as possible and not break too much compatibility

[2021-01-03 08:54] sam-mosleh opened #181 "CancelledError exception is not propagated"
## Checklist

- Python version: **3.8.2**
- Using hiredis or just Python parser
- Using uvloop or just asyncio event loop
- Does issue exists against the `master` branch of aredis? **Yes**

## Steps to reproduce
[code]
## Expected behavior
The task should get canceled
## Actual behavior
- asyncio.CancelledError is not propagated and the code above will run forever. It prints:
[code]

[2021-01-26 16:28] Pajinek opened #183 "HerdCache with set expire_time of Redis key (non-infinity TTL)"
## Checklist

- Python version 3.8.7

## Steps to reproduce
I created cache object of HerdCache with positive value of expire_time.

My scenario:
 - I want to keep behaviour of TTL Redis key (remove after expiration), but still resolve thundering herd problem.

But this part of code doesn't clear for me.
[code]

## Expected behavior
The value of expected_expired_ts should be less then expire_time,

[2021-02-22 10:43] eoghanmurray opened #185 "gather - best way to issue parallel commands?"
I wanted to add up (read) a bunch of sorted sets in as short as possible time window so that I could write an estimated total and minimize the time window where the sets could be modified:
[code]
This didn't work as it hit a 'Too many connections' error.  As this is on RedisCluster, there is a Connection Pool in effect with a limit of 32.

I'm asking this as it struck me that aredis could provide

[2021-03-25 10:55] sileht opened #189 "Support of BlockingConnectionPool"
Hi there,

aredis is lacking of BlockingConnectionPool.

Do this kind of feature could be accepted if I propose a Pull Request?
(and if it matches all the projects requirements and worked, of course :) )

I have started to take a look, the only blocking point I see is a small change into the ConnectionPool API.
`ConnectionPool.get_connection()` have to become async to be able to use `asyncio.Queue

[2021-03-25 10:58] sileht commented on #189
Another solution that would not break the API, would be to replace all `get_connection()` calls with something like:

[code]

[2021-03-25 17:31] sileht commented on #189
Here an idea of what it will looks like: https://github.com/NoneGG/aredis/pull/190

[2021-03-31 15:08] violet-black opened #191 "XINFO gives KeyError"
Direct execution of XINFO STREAM via `execute_command` gives a KeyError since a parser expects a string key but receives a byte-string instead.

[code]

Redeclaring `pairs_to_dict` to:

[code]

resolves the issue but I'm unsure if it may backfire somewhere else in the code :-)

[2021-04-09 12:13] sileht commented on #189
Any updates?

[2021-04-24 21:31] cryeo commented on #140
Same phenomenon was observed in cluster connection pool.

[code]

I think that it can be fixed in the same way as #144.

[2021-04-29 06:59] sileht commented on #189
Any updates?

[2021-05-02 17:21] moznuy opened #193 "[PUBSUB] When cancelling a task, CancelledError exception is not propagated to client code."
The same as #137 but for PubSub

## Checklist

- Python version 3.8.5
- Using Python parser
- Using asyncio event loop
- Issue does exist against the `master` branch of aredis

## Steps to reproduce
Run a blocking command in an asyncio task (created with asyncio.create_task or ensure_future, such as get_message(), and try to cancel that task.

## Expected behavior
asyncio.CancelledError is propaga

[2021-05-26 09:51] eoghanmurray opened #195 "add logging?"
There are certain situations where I believe some verbose logging would be helpful; particularly when dealing with cluster connection issues, e.g. `execute_command` on `StrictRedisCluster` has lots of retry scenarios which may hint at underlying issues in the cluster, but that currently go unreported (with slow performance).

Has the idea of adding logging for the project already been rejected or

[2021-06-02 15:47] jramirezneira opened #198 "ERROR sending "cluster slots" command to redis server when I set a key"
## Checklist

- Python version 3.7.3
- Using  Python parser
- Using  just asyncio event loop

the cluster configuration is as follow:

Number of Nodes: 4
Mode: cluster
Password: no
Encryption in-transit: yes
Encryption at-rest: yes
Engine Version: 6.0.5

## Steps to reproduce

I am trying to test the cluster client example to an redis cluster on aws, when I set a Key ( await client.set('foo', 1)),

[2021-06-05 09:39] hsz1273327 opened #199 "xgroup_create need a key word param such as 'create_if_not_exit'"
## Checklist

- Python 3.8
- Using hiredis
- Using asyncio event loop
- Does issue exists against the `master` branch of aredis?

## Steps to reproduce

[code]

## Expected behavior

create a stream and add  group "testconsumer" to it.

## Actual behavior
got exception

[code]

the api of xgroup_create need a key word param such as 'create_if_not_exit'
- It is appreciated if error log can be provi

[2021-07-05 07:05] felix0080 opened #200 "Where to fill in the password? Don't you have a password for Redis?"
Where to fill in the password? Don't you have a password for Redis?

[2021-08-09 02:07] panla commented on #200
`aredis.client.StrictRedis`

[code]

[2021-09-06 01:44] robd003 opened #202 "Project Dead?"
Does anyone know what the state of this project is? No pull requests approved for some time and the last release was from March 2020.

[2021-09-06 16:27] RonaldinhoL opened #203 "LockError("Cannot release a lock that's no longer owned")"
[code]

[2021-09-06 16:35] RonaldinhoL commented on #203
[code]
seems it is because of lock_value  was decode, but expected_token was bytes

[2021-09-30 10:30] emalves opened #204 "SSL Cert Reqs not being used as intended"
## Steps to reproduce
redis = StrictRedis(host=REDIS_HOST_WITH_SSL, port=REDIS_PORT, db=0,  cert_reqs="none")

## Expected behavior
Expected that cert_reqs is set to VerifyMode.CERT_NONE on ssl.SSLContext object.

## Actual behavior
SSLContext object is created with VerifyMode.CERT_REQUIRED.

[2021-10-21 16:00] jeff-alves opened #207 "create_unix_connection() got an unexpected keyword argument 'loop' (Port to python 3.10)"
## Checklist

- Python version: 3.10
- Using hiredis
- Using uvloop
- Branch master

## Steps to reproduce
Just try to connect, using python 3.10... raise Exception:
create_unix_connection() got an unexpected keyword argument 'loop'

The loop parameter has been removed from most of asyncio‘s high-level API following deprecation in Python 3.8.
https://docs.python.org/3.10/library/asyncio-stream.htm

[2021-11-15 19:28] HacKanCuBa commented on #202
Yikes, this is the only relatively maintained project I found that is async and supports clusters

[2021-12-20 08:07] Pritamhars opened #210 "spop(): aredis.exceptions.RedisClusterException: Too many connections"
aredis version: 1.1.8
aioredis version: 1.3.1

We are getting following error related to aredis when calling " **js = await redis.spop('queue name')**". Please suggest.

Observation:
**spop** is the only operation used when service runs in idle state. https://github.com/NoneGG/aredis/blob/master/aredis/pool.py#L385
[code]
I think aredis is leaking connections.

**getting following error, stack tra

[2022-01-03 20:16] nickswebsite commented on #210
This PR should fix it: https://github.com/NoneGG/aredis/pull/194

Not sure if this project is still being maintained or not. Looks like @NoneGG didn't have any activity in 2021.

Hope he is all right.

[2022-01-04 16:07] Andrew-Chen-Wang commented on #202
Hoping to get cluster mode on aioredis soon now that redis-py has it (with RedisLab backing it). Sit tight :)

[2022-01-05 21:20] alisaifee opened #211 "Forked repository"
I've created a fork of this package at https://github.com/alisaifee/coredis and will try to bring it up to date.

[2022-01-10 15:53] alisaifee commented on #202
I’ve forked the project to https://github.com/alisaifee/coredis and made an initial release with Python 3.10 support

[2022-01-19 22:31] wankerstar commented on #211
Freaking thanks!! I use this a lot, and the cobwebs were getting serious.

Will keep an eye on your issues and pitch in a pull request here or there if I get the chance.

[2022-01-31 13:40] dmitrykaramin opened #212 "create_connection() got an unexpected keyword argument 'loop'"
## Checklist

- Python version 3.10
- Does issue exists against the `master` branch of aredis? Yes

## Steps to reproduce
just run the code

## Expected behavior
Expected connected to redis

## Actual behavior
- It is appreciated if error log can be provided

in your code
https://github.com/NoneGG/aredis/blob/b46e67163692cd0796763e5c9e17394821d9280c/aredis/connection.py#L597
you pass "loop" as an

[2022-02-10 14:05] akalex commented on #207
@NoneGG any timelines to get it merged?

[2022-04-23 01:49] adazzi93933 opened #215 "StrictRedisCluster client hangs with AWS elasticache - connection pool remains uninitialized"
## Checklist

- Python version
3.7
- Using hiredis or just Python parser
no
- Using uvloop or just asyncio event loop
asyncio
- Does issue exists against the `master` branch of aredis?
yes
git clone git@github.com:NoneGG/aredis.git
cd aredis/
python3 setup.py install

## Steps to reproduce
using the latest aredis v1.1.8, tried python 3.7,3.8,3.9 and downgraded aredis to lower versions as well ...

[2022-04-23 16:47] adazzi93933 commented on #215
update: i created an aws elasticcache cluster without "Encryption in transit" enabled and auth and it is working now. i will narrow down the problem further. but it seems to be related to encryption. also i had to remove ssl=True to make it work (i was getting an error).

[2022-06-01 19:28] faynburd opened #216 "Exception: AttributeError: 'list' object has no attribute 'decode'"
## Checklist

- Python version 3.9.7
- Using hiredis 2.0.0
- Using uvloop 0.16.0
- Does issue exists against the `master` branch of aredis? - yes

## Steps to reproduce
From time to time we're getting error list' object has no attribute 'decode'
This is the stack
File "/usr/local/lib/python3.9/site-packages/aredis/commands/strings.py", line 210, in mset
    return await self.execute_command('MSET'

[2022-08-22 06:16] riya-swagata opened #217 "How to setup SSL=True and password with redis cluster ?"
## Checklist

- Python version -3.6
- Using hiredis or just Python parser
- Using uvloop or just asyncio event loop
- Does issue exists against the `master` branch of aredis?

## Steps to reproduce
from redis.cluster import RedisCluster as Redis
redis_client= StrictRedisCluster(startup_nodes=[{"host": redis_endpoint, "port": redis_port}], password=redis_pass,ssl=True,ssl_cert_reqs=None)
a=redis_cl

[2022-09-26 12:39] xujin8 opened #218 "WARNING: aredis 1.1.8 does not provide the extra 'hiredis'"
## Checklist

- Python version
- Using hiredis or just Python parser
- Using uvloop or just asyncio event loop
- Does issue exists against the `master` branch of aredis?

## Steps to reproduce

## Expected behavior

## Actual behavior
- It is appreciated if error log can be provided

python3.9
uvloop

[2022-09-30 06:12] r4you96 opened #219 "rename command decoding error"
## Checklist

- Python version : 3.9.13
- Using hiredis or just Python parser : yes
- Using uvloop or just asyncio event loop : yes
- Does issue exists against the `master` branch of aredis? yes

## Steps to reproduce
1. create `StrictRedisCluster` with `decode_responses` option set `True`
2. use rename command

## Expected behavior
1. Succeed rename order
2. Return a rename command response decod

[2022-10-21 15:56] eirikrye commented on #216
Hello,

I have experienced the same issue in a high load situation. Using a single client does not appear to be safe in high load situation, as results will appear out of order.

I switched to using aioredis (very similar API) and has the issue disappear. Using a connection pool in aredis may also be an option, but this library does not appear to be maintained anyway.

[2022-11-27 14:30] AndrewGPU opened #220 "TypeError: BaseEventLoop.create_connection() got an unexpected keyword argument 'loop'"
Traceback (most recent call last):
  File "/home/ubuntu/miniconda3/envs/andrew11/lib/python3.11/site-packages/aredis/connection.py", line 415, in connect
    await self._connect()
  File "/home/ubuntu/miniconda3/envs/andrew11/lib/python3.11/site-packages/aredis/connection.py", line 594, in _connect
    reader, writer = await exec_with_timeout(
                     ^^^^^^^^^^^^^^^^^^^^^^^^
  File "